
<div class="review-container" *ngIf="advert">
    <ng-content select="[review-title]"></ng-content>
    <div class="review-box">
        <div class="short-product">
            <img class="short-img" [src]="advert.item_ref.image" alt="">
            <label class="short-product-title">{{advert.title}}</label>
            <hr>
            <div class="short-product-stars" *ngIf="stats?.total">
                
                <div class="stars" >
                     <label class="stars-avg-label"> {{stats.avg}}</label>
                    
                     <app-rating-stars [rating]="stats.avg"></app-rating-stars>
                        
                </div>
                
                <label class="review-count">{{stats.total}} Kullanıcı Değerlendirmesi</label>



                <div class="rating-chart">
                    <div class="rating-row">
                        <span class="star-label">5 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" [style.width.%]="stats.five_avg"></div>
                        </div>
                        <span class="count">{{stats.five}}</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">4 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" [style.width.%]="stats.four_avg"></div>
                        </div>
                        <span class="count">{{stats.four}}</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">3 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" [style.width.%]="stats.three_avg"></div>
                        </div>
                        <span class="count">{{stats.three}}</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">2 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" [style.width.%]="stats.two_avg"></div>
                        </div>
                        <span class="count">{{stats.two}}</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">1 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" [style.width.%]="stats.one_avg"></div>
                        </div>
                        <span class="count">{{stats.one}}</span>
                    </div>
                    
                </div>
              

            </div>


            <div class="action-buttons">
                <button *ngIf="addCart" class="add-to-cart" >  <i class="fas fa-shopping-cart"></i> Sepete Ekle</button>
                <button *ngIf="reviews?.length" class="comment-create"  (click)="commentPopUp = 1;">Yorum Yaz</button>
            </div>
        </div>
        
        <div class="reviews" *ngIf="reviews?.length">
        
            <label  class="comments-title">Yorumlar</label>
            
            <div class="each-comment" *ngFor="let item of reviews">
                <div class="comment-user-info">
                    <img src="assets/images/noneProfileForReview.jpg" alt="">
                    <label class="user-info-label">
                        {{item?.user?.name | titlecase}}  {{item?.user?.surname | titlecase}}
                    </label>
                   
                   
                    <div class="stars-comment">
                        <ng-container *ngFor="let star of [1,2,3,4,5]">                 
           
                        <i class="fa-star" [ngClass]="star<=item.rating ? 'fas' :'fa-regular'"></i>

                    </ng-container>
                    </div>

                    <span class="rating-text">{{item?.rating}}</span>
                    <label class="comment-date">{{item?.comment_date}}</label>
                </div>
                <div class="comment-content">
                    {{item?.comment}}
                </div>
            </div>









          
            <div  class="more-box" *ngIf="stats.total>6">
                <a *ngIf="!addCart" [attr.href]="'/' + advert.slug +'/yorumlar'"> <button class="more-comment">Tüm Yorumları Gör ({{stats.total}})</button></a>
                <a *ngIf="addCart"> <button class="more-comment">Daha Fazla Yükle</button></a>

            </div>
        </div>
        <div *ngIf="!reviews?.length" class="reviews-empty" (click)="commentPopUp = 1;">
            <div class="empty-icon"><i class="fa-regular fa-comment-dots"></i></div>
            <h3>Henüz yorum yok</h3>
            <p>İlk yorumu yapan sen ol! Deneyimini paylaş.</p>
            <button class="comment-create-empty" style="width: 50%;">Yorum Yap</button>
        </div>
    </div>

</div>


<!-- Comment Create Layout -->
<div class="modal-overlay" *ngIf="commentPopUp" (click)="commentPopUp=0">
    <div class="create-container"  (click)="$event.stopPropagation()">

        <div class="create-box">
            <button class="close-button" (click)="commentPopUp=0" >
                &times;
            </button>
            <label class="rating-title">Ürünü Puanla <hr style="margin-top: 20px; border: 1px solid rgb(204, 204, 204);"></label>

            <div class="rating-box">
            
                <div class="create-stars" data-rating="0"   (mouseleave)="clearHover()">
                    <i *ngFor="let star of [1,2,3,4,5]" class="fa-solid fa-star"
                    [class.active]="(hoverRating || rating)>=star"
                    (mouseenter)="setHover(star)"
                    (click)="setRating(star)"
                    ></i>
                </div>
            
                <input type="hidden" id="rating-value" value="0">

            </div>
            <textarea spellcheck="false" placeholder="Bu ürün hakkında paylaşmak istediğiniz tecrübe ve deneyimlerinizi yazınız" class="create-text-area"></textarea>
            <div class="action-buttons">
                <button class="cancel-button"  (click)="commentPopUp=0">Vazgeç</button>
                <button class="create-button">Gönder</button>
            </div>
        </div>
    </div>
</div>