<div class="review-container" *ngIf="advert">
    <ng-content select="[review-title]"></ng-content>
    <div class="review-box">
        <div class="short-product">
            <img class="short-img" [src]="advert.item_ref.image" alt="">
            <label class="short-product-title">{{advert.title}}</label>
            <hr>

            <div class="short-product-stars" *ngIf="advert.avg_rating">
                
                <div class="stars" >
                    {{advert.avg_rating}}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <label class="review-count">28 Kullanıcı Değerlendirmesi</label>


                <div class="rating-chart">
                    <div class="rating-row">
                        <span class="star-label">5 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" style="width: 76%;"></div>
                        </div>
                        <span class="count">13</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">4 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" style="width: 18%;"></div>
                        </div>
                        <span class="count">3</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">3 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" style="width: 0%;"></div>
                        </div>
                        <span class="count">0</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">2 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" style="width: 0%;"></div>
                        </div>
                        <span class="count">0</span>
                    </div>
                
                    <div class="rating-row">
                        <span class="star-label">1 <i class="fas fa-star"></i></span>
                        <div class="bar">
                            <div class="bar-fill" style="width: 6%;"></div>
                        </div>
                        <span class="count">1</span>
                    </div>
                    
                </div>
              

            </div>
            <div class="action-buttons">
                <button *ngIf="addCart" class="add-to-cart" >  <i class="fas fa-shopping-cart"></i> Sepete Ekle</button>
                <button class="comment-create" (click)="commentPopUp=1">Yorum Yaz</button>
            </div>
        </div>
        
        <div class="reviews">
            <label class="comments-title">Yorumlar</label>
            <div class="each-comment">
                <div class="comment-user-info">
                    <img src="assets/images/category11.jpg" alt="">
                    Yunus123
                    <div class="stars-comment">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="rating-text">5</span>
                    <label class="comment-date">20.12.2025 11:45</label>
                </div>
                <div class="comment-content">
                    Ürün çok güzel beğendik teşekkür ederiz :)))
                </div>
            </div>
            <div class="each-comment">
                <div class="comment-user-info">
                    <img src="assets/images/category1.jpg" alt="">
                    Yunus123
                    <div class="stars-comment">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="rating-text">5</span>
                    <label class="comment-date">20.12.2025 11:45</label>
                </div>
                <div class="comment-content">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugit, magnam, vero quibusdam ducimus placeat facilis nobis ratione velit, odit sed repellendus veniam! Velit dolores facilis sit, laudantium enim architecto laborum quidem quia voluptates iste atque corrupti, molestiae minima ipsum dolor amet cumque voluptate ullam sequi. Quae commodi quos earum?
                </div>
            </div>
            <div class="each-comment">
                <div class="comment-user-info">
                    <img src="assets/images/category11.jpg" alt="">
                    Yunus123
                    <div class="stars-comment">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="rating-text">5</span>
                    <label class="comment-date">20.12.2025 11:45</label>
                </div>
                <div class="comment-content">
                    Ürün çok güzel beğendik teşekkür ederiz :)))
                </div>
            </div>
            <div class="each-comment">
                <div class="comment-user-info">
                    <img src="assets/images/category11.jpg" alt="">
                    Yunus123
                    <div class="stars-comment">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="rating-text">5</span>
                    <label class="comment-date">20.12.2025 11:45</label>
                </div>
                <div class="comment-content">
                    Ürün çok güzel beğendik teşekkür ederiz :)))
                </div>
            </div>
            <div class="each-comment">
                <div class="comment-user-info">
                    <img src="assets/images/category11.jpg" alt="">
                    Yunus123
                    <div class="stars-comment">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="rating-text">5</span>
                    <label class="comment-date">20.12.2025 11:45</label>
                </div>
                <div class="comment-content">
                    Ürün çok güzel beğendik teşekkür ederiz :)))
                </div>
            </div>
            <div class="each-comment">
                <div class="comment-user-info">
                    <img src="assets/images/category11.jpg" alt="">
                    Yunus123
                    <div class="stars-comment">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="rating-text">5</span>
                    <label class="comment-date">20.12.2025 11:45</label>
                </div>
                <div class="comment-content">
                    Ürün çok güzel beğendik teşekkür ederiz :)))
                </div>
            </div>
            <div *ngIf="!addCart" class="more-box">
               <a href="/comment"> <button class="more-comment">Tüm Yorumları Gör (19)</button></a>
            </div>
        </div>
    </div>

</div>


<!-- Comment Create Layout -->
<div class="modal-overlay" *ngIf="commentPopUp" (click)="commentPopUp=0">
    <div class="create-container"  (click)="$event.stopPropagation()">

        <div class="create-box">
            <button class="close-button" (click)="commentPopUp=0" >
                &times;
            </button>
            <label class="rating-title">Ürünü Puanla <hr style="margin-top: 20px; border: 1px solid rgb(204, 204, 204);"></label>

            <div class="rating-box">
            
                <div class="create-stars" data-rating="0"   (mouseleave)="clearHover()">
                    <i *ngFor="let star of [1,2,3,4,5]" class="fa-solid fa-star"
                    [class.active]="(hoverRating || rating)>=star"
                    (mouseenter)="setHover(star)"
                    (click)="setRating(star)"
                    ></i>
                </div>
            
                <input type="hidden" id="rating-value" value="0">

            </div>
            <textarea spellcheck="false" placeholder="Bu ürün hakkında paylaşmak istediğiniz tecrübe ve deneyimlerinizi yazınız" class="create-text-area"></textarea>
            <div class="action-buttons">
                <button class="cancel-button"  (click)="commentPopUp=0">Vazgeç</button>
                <button class="create-button">Gönder</button>
            </div>
        </div>
    </div>
</div>