
<div class="review-container" >
    <ng-container *ngIf="!skeleton; else titleSkeleton">
        <ng-content select="[review-title]"></ng-content>
      </ng-container>
      
      <ng-template #titleSkeleton>
        <div class="review-box">
          <div class="title-skeleton shimmer"></div>
          <div class="link-skeleton shimmer"></div>
        </div>
      </ng-template>
    <div class="review-box">
        <div class="short-product">
            <div class="img-wrapper">
                <div class="img-skeleton shimmer" *ngIf="skeleton"></div>
                <img class="short-img"
                [src]="advert?.item_ref?.image"
                (load)="imgLoading=false"
                loading="lazy"
                alt="">
            </div>

            <label class="short-product-title">
                <span [class.hide]="skeleton">
                    {{ advert?.title }}
                  </span>
                
                  <div class="title-skeleton shimmer"
                       [class.hide]="!skeleton">
                  </div>

            </label>
            <hr>
            

            <div class="short-product-stars" >
                
                <div class="stars-wrapper">

                    <!-- ⭐ gerçek içerik -->
                    <div class="stars-content" [class.hide]="skeleton">

                        <label class="stars-avg-label">
                            {{ stats?.avg || 0 }}
                        </label>

                        <app-rating-stars
                            [rating]="stats?.avg || 0">
                        </app-rating-stars>

                    </div>

                    <!-- ✨ skeleton -->
                    <div class="stars-skeleton shimmer"
                        [class.hide]="!skeleton">
                    </div>

                </div>


                <!-- review count -->
                <span class="review-count-wrapper">

                    <span class="review-count" [class.hide]="skeleton">
                    {{ stats?.total || 0 }} Kullanıcı Değerlendirmesi
                    </span>

                    <span class="count-skeleton shimmer"
                        [class.hide]="!skeleton">
                    </span>

                </span>



                <div class="rating-chart">
                    <ng-container *ngIf="skeleton">
                        <div class="rating-row" *ngFor="let i of [1,2,3,4,5]">
                          <div class="bar-skeleton shimmer">
                            <div class="star-skeleton"></div>
                            <div class="bar-fill-skeleton"></div>
                            <div class="count-skeleton"></div>
                          </div>
                        </div>
                      </ng-container>
                    <div class="rating-row" *ngFor="let row of ratingRows">
                      
                      <!-- Normal rating content -->
                      <div class="rating-content" [class.hide]="skeleton">
                        <span class="star-label">
                          {{ row.star }} <i class="fas fa-star"></i>
                        </span>
                        <div class="bar">
                          <div class="bar-fill" [style.width.%]="row.avg"></div>
                        </div>
                        <span class="chart-count">{{ row.count }}</span>
                      </div>
                  
                      <!-- Skeleton bar -->
                                     
                    </div>
                
                </div>




            </div>


            <div class="action-buttons">

                <!-- Skeleton -->
                <ng-container *ngIf="skeleton">
                  <div class="btn-skeleton shimmer"></div>
                  <div class="btn-skeleton shimmer"></div>
                </ng-container>
              
                <!-- Normal -->
                <ng-container *ngIf="!skeleton">
                  <button *ngIf="addCart" class="add-to-cart">
                    <i class="fas fa-shopping-cart"></i> Sepete Ekle
                  </button>
              
                  <button *ngIf="reviews?.length" class="comment-create"
                          (click)="commentPopUp = 1;">
                    Yorum Yaz
                  </button>
                </ng-container>
              
              </div>


        </div>
        
        <div class="reviews" >
        
            <div *ngIf="stats" class="filter-boxs" style="display: grid; justify-content: space-between; gap: 20px; ">
                <label *ngIf="stats.total"  class="comments-title">Tüm Değerlendirmeler</label>
                
                <!--     -->
                <ng-content select="[review-filter]"></ng-content>
            </div>

            <ng-container *ngIf="skeleton">

                <div class="comment-skeleton" *ngFor="let i of [1,2,3,4,5,6]">
                  <div class="avatar shimmer"></div>
            
                  <div class="content">
                    <div class="line short shimmer"></div>
                    <div class="line shimmer"></div>
                    <div class="line shimmer"></div>
                  </div>
                </div>
            
            </ng-container>

            <ng-container *ngIf="!skeleton">
                <div class="each-comment" *ngFor="let item of reviews">
                    <div class="comment-user-info">
                        <img src="assets/images/noneProfileForReview.jpg" alt="">
                        <label class="user-info-label">
                            {{item?.user?.name | titlecase}}  {{item?.user?.surname | titlecase}}
                        </label>
                    
                    
                        <div class="stars-comment">
                            <ng-container *ngFor="let star of [1,2,3,4,5]">                 
            
                            <i class="fa-star" [ngClass]="star<=item.rating ? 'fas' :'fa-regular'"></i>

                        </ng-container>
                        </div>

                        <span class="rating-text">{{item?.rating}}</span>
                        <label class="comment-date">{{item?.comment_date}}</label>
                    </div>
                    <div class="comment-content">
                        {{item?.comment}}
                    </div>
                </div>
            </ng-container>



          
            <div class="more-box" *ngIf="(stats?.total ?? 0) > 6">
                <a *ngIf="links?.next" > <button (click)="loadMorePaginate()" class="more-comment">Daha Fazla Yükle</button></a>
                <a *ngIf="!addCart" [attr.href]="'/' + advert.slug +'/yorumlar'"> <button class="more-comment" >Tüm Yorumları Gör ({{stats.total}})</button></a>

            </div>


            <div *ngIf="!skeleton && !reviews?.length" class="reviews-empty" (click)="commentPopUp = 1;">
              <div class="empty-icon"><i class="fa-regular fa-comment-dots"></i></div>
              <h3>Henüz yorum yok</h3>
              <p>İlk yorumu yapan sen ol! Deneyimini paylaş.</p>
              <button class="comment-create-empty" style="width: 50%;">Yorum Yap</button>
            </div>



        </div>
        
    </div>

</div>




<app-fullpage-loader *ngIf="isLoading"></app-fullpage-loader>

<!-- Comment Create Layout -->
<div class="modal-overlay" *ngIf="commentPopUp" (click)="commentPopUp=0">
    <div class="create-container"  (click)="$event.stopPropagation()">

        <div class="create-box">
            <button class="close-button" (click)="commentPopUp=0" >
                &times;
            </button>
            <label class="rating-title">Ürünü Puanla <hr style="margin-top: 20px; border: 1px solid rgb(204, 204, 204);"></label>

            <div class="rating-box">
            
                <div class="create-stars" data-rating="0"   (mouseleave)="clearHover()">
                    <i *ngFor="let star of [1,2,3,4,5]" class="fa-solid fa-star"
                    [class.active]="(hoverRating || rating)>=star"
                    (mouseenter)="setHover(star)"
                    (click)="setRating(star)"
                    ></i>
                </div>
            
                <input type="hidden" id="rating-value" value="0">

            </div>
            <textarea spellcheck="false" placeholder="Bu ürün hakkında paylaşmak istediğiniz tecrübe ve deneyimlerinizi yazınız" class="create-text-area"></textarea>
            <div class="action-buttons">
                <button class="cancel-button"  (click)="commentPopUp=0">Vazgeç</button>
                <button class="create-button">Gönder</button>
            </div>
        </div>
    </div>
</div>