@import '../register/register-shared.css';


  .form-btn-container{
    padding-top: 100px;

  }
  
  .switch-buttons {
    display: flex;
    background: #f9fafb;
    padding: 4px;
    border-radius: 12px;
    margin-bottom: 25px;
  }
  

  .switch-buttons a {
    flex: 1;
    text-align: center;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-gray);
    transition: all 0.3s ease;
  }
  
  .switch-buttons a.active {
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
  .form-box .form {

    margin-bottom: 0px;
  }
  


  

  .forgot {
    color: #2563eb;
    font-size: 13px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 600;
    width: 101px;
  }
  .forgot:hover{
    color:#ff751f
  }

  .error {
    font-size: 12px;
    color: #ef4444;
    margin-top: -10px;
    margin-bottom: 8px;
    padding-left: 4px;
    display: block;
  }
  
