
<body >
    

    <div class="container">
        <label class="cart-title">Sepetim <span style="font-size: 15px;color: gray;">(2)</span></label>
        <div class="container-box">

            <div class="cart-box">



                <div class="cart-left">

                    <div class="each-item">
                        <button class="selected-btn" [class.active]="checked" (click)="checked=!checked">
                            <i *ngIf="checked" class="fa-regular fa-circle-check"></i>
                        </button>
                        <img class="item-image" src="assets/images/category5.jpg" alt="">
                        <div class="grid-box">
                            <label class="item-title">Royal Canin Köpek Yaş Maması 45gr</label>

                            <div class="product-price-box">
                                <div class="product-quantity-box">
                                    
                                    <div class="product-quantities">
                                        <button class="qty-btn delete">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    
                                        <label class="item-quantity">2</label>
                                    
                                        <button class="qty-btn add">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                    <button class="qty-btn delete trashcan">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>

                                </div>
                                <label class="item-price">1299,59 TL</label>

                            </div>
                        </div>
                    </div>
                    
                    

                    <div class="each-item">
                        <button class="selected-btn" [class.active]="checked" (click)="checked=!checked">
                            <i *ngIf="checked" class="fa-regular fa-circle-check"></i>
                        </button>
                        <img class="item-image" src="assets/images/category5.jpg" alt="">
                        <div class="grid-box">
                            <label class="item-title">Royal Canin Köpek Yaş Maması 45gr</label>

                            <div class="product-price-box">
                                <div class="product-quantity-box">
                                    
                                    <div class="product-quantities">
                                        <button class="qty-btn delete">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                    
                                        <label class="item-quantity">2</label>
                                    
                                        <button class="qty-btn add">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                    <button class="qty-btn delete trashcan">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>

                                </div>
                                <label class="item-price">1299,59 TL</label>

                            </div>
                        </div>
                    </div>

                </div>


                <div class="reco-container">
                    <div class="reco-box">
                        <label class="reco-label">Son gezdiğin ürünler</label>
                    
                        <app-slider [slider]="recommendationProducts" [itemWidth]="211.78">
                    
                        <app-card
                            *ngFor="let item of recommendationProducts.items"
                            [item]="item"
                            [itemSize]="1">
                        </app-card>
                    
                        </app-slider>
                    </div>

                    <div class="reco-box">
                        <label class="reco-label">Birlikte alınan ürünler</label>
                    
                        <app-slider [slider]="recommendationProducts1" [itemWidth]="211.78">
                    
                        <app-card
                            *ngFor="let item of recommendationProducts1.items"
                            [item]="item"
                            [itemSize]="1">
                        </app-card>
                    
                        </app-slider>
                    </div>
                </div>

                <div class="reco-container">
                    <div class="reco-box">
                        <label class="reco-label">Son gezdiğin ürünler</label>
                    
                        <app-slider [slider]="recommendationProducts" [itemWidth]="211.78">
                    
                        <app-card
                            *ngFor="let item of recommendationProducts.items"
                            [item]="item"
                            [itemSize]="1">
                        </app-card>
                    
                        </app-slider>
                    </div>
                </div>


            </div> 
            
                <div class="cart-detail-box">
                    <div class="cart-detail">
                        <label class="cart-detail-title">Sipariş Özeti</label>
                        <div class="each-detail">
                            <label class="cart-items-title">2 Adet Ürün</label>
                            <label class="cart-items-sum">1.250,00 TL</label>
                        </div>
    
                        <div class="each-detail">
                            <label class="cart-items-title">Kargo Ücreti</label>
                            <label class="cart-items-cargo"><label class="cargo-fee">60,90</label> BEDAVA</label>
                        </div>
    
                        <hr>
    
                        <div class="each-detail">
                            <label class="final-price-title">Toplam Tutar</label>
                            <label class="final-price">1250,00 TL</label>
                        </div>
                        
                        <button class="cart-approve-button">Sepeti Onayla</button>
                        <label class="cart-info">Bir sonraki sayfada bu siparişi inceleyip ödemeyi onaylayana kadar ücret tahsil edilmez.</label>
    
                        
                    </div>
    
                    <div (click)="couponInput=1" class="coupon-box"  [class.hidden]="couponInput">
                        <div class="label-angle" [class.open]="couponInput" >
                            <label class="coupon-label" >İndirim Kodu Ekle</label>
                            <i class="coupon-angle" *ngIf="!couponInput" [class]="couponInput ? 'fa-solid fa-angle-up' : 'fa-solid fa-angle-down '" ></i>
                        </div>
                        
    
                        <div class="couponHidden" (click)="$event.stopPropagation()" *ngIf="couponInput">
                            
                            <input class="coupon-input" type="text" placeholder="İndirim Kodunu Giriniz">
                            <button class="submit-coupon">Uygula</button>
                        </div>
                    </div>
    
                </div>
    
            
          
          
            
        </div>

       
    </div>

   <div class="m-detail-container" [class.open]="mPrice">
        <div class="m-show-detail">
            <div class="m-show-box">
                <div class="m-each-detail">
                    <label class="m-product-title">Ürünler</label>
                    <label class="m-product-price">1250,00 TL</label>
                </div>
                <div class="m-each-detail">
                    <label class="m-product-title">Kargo</label>
                    <label class="m-product-price" style="color: rgb(6, 119, 45);">Kargo Bedava <label class="cargo-fee">60,90</label></label>
                </div>
            </div>
        </div>


        <div class="m-detail">
            <div class="m-detail-box">
                <label class="m-cart-count">SEÇİLEN ÜRÜNLER (2)</label>
                <label (click)="mPrice=!mPrice"  class="m-price">1299,99 TL <i [class]="mPrice ? 'fa-angle-up' : 'fa-angle-down'" class="fa-solid"></i></label>
            </div>
            <button class="m-approve-btn">Sepeti Onayla</button>  
        </div>
    </div>

</body>
