<app-step1-email-otp [loading]="loadingStep1" [message]="errorMessage"
(closed)="errorMessage = ''"
(submitEmail)="onOtpVerify($event)" 

*ngIf="step==='emailOtp'"></app-step1-email-otp>


<app-step2-verify-otp 
[email]="userMail"
[loading]="loadingStep2"
(resentOtpEvent)="resendOtp()"
[message]="errorMessage"
(closed)="errorMessage = ''"

*ngIf="step==='verifyOtp'"
(submitOtp)="submitOtp($event)"
></app-step2-verify-otp>

<app-step3-create-acc
[loading]="loadingStep3"

[message]="errorMessage"
(closed)="errorMessage = ''"
*ngIf="step==='createAcc'"
  (createAcc)="createAcc($event)"
></app-step3-create-acc>