:root {
    --primary-color: #2563eb;
    --bg-gray: #f9fafb;
    --text-dark: #1f2937;
    --text-gray: #6b7280;
    --border-color: #e5e7eb;
  }
  
  .container {
    width: 100%;
    max-width: 450px;
    margin: 0px auto;
    background: #fff;
    border-radius: 16px;
    margin-top: 30px;

  }
  .logo-box{
    max-height: 150px;
    margin-bottom: 30px;

  }
  .logo-box img {
    display: block;
    margin: 0 auto 0px;
    margin-top: 0px;
    width: 200px;
    height: auto;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.05));
  }

  .form-btn-container{
    display: grid;
    border: 1px solid #e5e7eb;
    padding: 50px;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 100px;

  }
  
  .create-label{
    font-size: 25px;
    font-weight: 600;
    color: #535252;
    margin-bottom: 40px;
  }
  .otp-box{
    display: grid;
  }
  .user-email ,.otp-info{
    font-size: 15px;
  }
  .user-email{
    margin-bottom: 20px;
  }

  .form-box .form {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-box .form.active {
    display: flex;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .form-box input {
    margin-bottom: 16px;
    padding: 12px 16px;
    border-radius: 10px;
    border: 2px solid #e5e7eb;
    font-size: 15px;
    transition: all 0.2s;
    height: 30px;
    
      display: flex;
    align-items: center;
  }
  .form-box input.empty{
    border: 2px solid red;
  }
  
  
  .form-box input:focus {
    outline: none;
    border-color: rgb(238, 107, 0);
    background: #fff;
  }
  
  .pass-box {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .pass-box i {
    position: absolute;
    right: 15px;
    top: 20px; 
    color: #6b7280;
    cursor: pointer;
  }
  
  button[type="submit"] {
    padding: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: opacity 0.2s;
  }
  
  button[type="submit"]:hover {
    opacity: 0.9;
  }
  
  .forgot {
    color: #2563eb;
    font-size: 13px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 600;
    width: 101px;
  }
  .forgot:hover{
    color:#ff751f
  }


    
  .error {
    font-size: 12px;
    color: #ef4444;
    margin-top: -10px;
    margin-bottom: 8px;
    padding-left: 4px;
    display: block;
  }
  