<div class="container">
  
    <div class="filter-section">
        <div (click)="filter()" [class.active]="filterParams===undefined" class="each-filter">Tümü</div>
        <div (click)="filter('paid')"  [class.active]="filterParams==='paid'" class="each-filter">Devam Edenler</div>
        <div (click)="filter('cancelled')" [class.active]="filterParams==='cancelled'"  class="each-filter">İptaller</div>
        <div (click)="filter('completed')"  [class.active]="filterParams==='completed'"  class="each-filter">Tamamlananlar</div>
   
    </div>
  
    <div class="order-section">


        <ng-container *ngIf="loading && !isLoading">
            <div class="each-order skeleton-card" *ngFor="let i of [1,2]">
                <div class="order-info-left">
                    <div class="skeleton-box shimmer img-size"></div>
                    <div class="skeleton-box shimmer badge-size"></div>
                </div>
                
                <div class="order-status-wrapper">
                    <div class="skeleton-box shimmer title-line"></div>
                    <div class="skeleton-box shimmer sub-line"></div>
                </div>
                
                <div class="right">
                    <div class="info" style="align-items: flex-end;">
                        <div class="skeleton-box shimmer date-line"></div>
                        <div class="skeleton-box shimmer price-line"></div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="orders.length > 0">

            <div class="each-order" (click)="selectedOrder.emit(item)" *ngFor="let item of orders">
                <div class="order-info-left" >
                    <div class="order-img">
                        <img [src]="item.order_items[0]?.image" alt="Ürün Görseli">
                    </div>
                    
                    <span class="status-badge" [ngClass]="item.status">
                        <span class="status-dot"></span>
                        {{getStatusClass(item.status)}}
                    </span>
                </div>
      
                <div class="order-status-wrapper">
                    <span class="order-title">{{item.order_items[0]?.name}}</span>
                    
                    <span class="more-items" *ngIf="item.order_items_count > 1">
                        + {{ item.order_items_count - 1 }} ürün daha
                    </span>
    
                
                </div>
      
                <div class="right">
                    <div class="info">
                        <span class="date">{{item.ordered_at}}</span>
                        <span class="price">{{item.total}} TL</span>
                    </div>
                    <span class="material-symbols-outlined chevron">chevron_right</span>
                </div>
            </div>
        </ng-container>
        
        
        <div class="empty-state" *ngIf="!loading && orders.length ===0"  >
            <div class="empty-state-content">
                <div class="empty-icon-wrapper">
                    <span class="material-symbols-outlined">shopping_bag</span>
                </div>
                
                <div *ngIf="filterParams===undefined">
                    <h3 >Henüz siparişiniz yok</h3>
                    <p>Görünüşe göre henüz bir sipariş vermemişsiniz. Aradığınız ürünü bulmak için kategorilerimize göz atabilirsiniz.</p>
                    
                </div>

                <div *ngIf="filterParams!==undefined">
                    <h3 >Sonuç bulunamadı</h3>
                    <p>Filtrelere uygun siparişiniz bulunamadı.</p>
                    
                </div>
             
                <a  *ngIf="filterParams===undefined" href="/home" class="primary-btn" >
                    Alışverişe Başla
                </a>
            </div>
        </div>


       

        <div class="more-box" *ngIf="!isLastPage && orders.length>0">
          <button (click)="loadMore.emit()" class="more-orders">Daha Fazla Yükle</button>

        </div>  
        
    </div>
</div>