
<div class="dashboard-address-widget">
    <div class="widget-header">

      <div class="header-left-group">
        <app-dashboard-back-button></app-dashboard-back-button>
        <h2 class="widget-title">Adreslerim</h2>
      </div>

      <button class="add-btn" (click)="openModal.emit('create')">+ Yeni adres</button>
    </div>
  
    <app-address-list
      [addresses]="addresses"
      [loading]="loading"
      (edit)="editRequest.emit($event)"
      (delete)="deleteRequest.emit($event)"
      (makeDefault)="makeDefault.emit($event)">
      
    </app-address-list>

    
  </div>