<div class="best-item" [class.small]="itemSize>=1" [class.out-of-stock]="!item?.active_stock">

    <!-- REAL -->
    <ng-container *ngIf="item && !skeleton; else skeletonTpl">
  
      <a class="card-link" href="{{item.slug}}"></a>
    
    <div class="image-box" style="background: #fafafa;" [class.small]="itemSize>=1">
      <span 
      class="discount-badge"
      *ngIf="item.discount_type && item.discount_value">
  
      <ng-container [ngSwitch]="item.discount_type">
        <span *ngSwitchCase="'percent'">
          %{{ item.discount_value | number:'1.0' }}
        </span>
  
        <span *ngSwitchCase="'fixed'">
          -{{ item.discount_value | number:'1.0' }} TL
        </span>
      </ng-container>
  
      </span>

        <img [src]="item.image" alt="{{item.title}}">

        <div *ngIf="!item.active_stock" class="out-of-stock-overlay">
          <span>Tükendi</span>
        </div>

      </div>
  
      <label class="item-title">
        {{ item.title }} 
      </label>
  
      <div class="item-rating"  [class.none]="!item.total_comments" >
            <i class="fa-solid fa-star" style="color:rgb(255, 223, 40);"></i>
            {{ item.avg_rating | number:'1.0-1'  }}
            <span>({{ item.total_comments | number:'1.0-1' }})</span>
        </div>
  
      <div class="item-bottom">
        
        <div class="price-box">
          <span class="old-price" *ngIf="item.discount_price">
            {{ item.original_price }} 
          </span>
        
          <span class="new-price">
            {{ item.discount_price || item.original_price }} <small>TL</small>
          </span>
        </div>
        
        <button (click)="addToCart(item)" class="add-cart" [disabled]="cartLoading === item.id">
          <!-- Yükleniyor İkonu -->
          <i *ngIf="cartLoading === item.id" class="fa-solid fa-circle-notch fa-spin"></i>
          
          <!-- Normal İkon (Sadece yükleme yoksa görünür) -->
          <i *ngIf="cartLoading !== item.id" class="fa-solid fa-cart-plus"></i>
        </button>

      </div>
  
    </ng-container>
  
  
    <!-- SKELETON -->
    <ng-template #skeletonTpl>
      <div class="image-box skeleton shimmer"></div>
  
      <div class="sk sk-title shimmer"></div>
  
      <div class="sk sk-rating shimmer"></div>
  
      <div class="item-bottom">
        <div class="sk sk-price shimmer"></div>
        <div class="sk sk-btn shimmer"></div>
      </div>
    </ng-template>
  
</div>
  

  <app-cart-toast *ngIf="cartItemAdded" [item]="selectedAdvert" [message]="cartMessage"></app-cart-toast>

  <app-main-toast *ngIf="cartErrorMessage" [type]="'error'" [message]="cartErrorMessage"
  (closed)="cartErrorMessage = ''"
  ></app-main-toast>