@import '../../pages/dashboard/dashboard/dashboard.component.css';


.info-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f3f4f6;
  
    .meta {
      .text {
        font-size: 15px;
        font-weight: 700;
        color: #111827;
        margin-right: 5px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }
