<div class="container">
    <div class="logo-box">
        <img src="assets/images/favLast.png" alt="Logo">
      </div>
  
    <div class="form-btn-container">
        <div class="switch-buttons">
            <a [routerLink]="[ '/login',  ]">Giriş Yap</a>
            <a [routerLink]="[ '/register', ]"  class="active">Kayıt Ol</a>
        </div>
    
        <div class="form-box">
          <app-error-box (closed)="closed.emit()" [message]="message" [title]="title"></app-error-box>


        <!-- Login Form -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form active">
            <input [class.empty]="email?.invalid && email?.touched" 
            type="email"
            formControlName="email"
            placeholder="E-posta adresi" required>

            <span class="error" *ngIf="email?.invalid && email?.touched">
                <span *ngIf="email?.errors?.['required']">E-posta zorunludur</span>
                <span *ngIf="email?.errors?.['email']">Geçerli bir e-posta girin</span>
            </span>
            
            <button type="submit" [disabled]="loading">
              <ng-container *ngIf="!loading">Devam et</ng-container>
              <ng-container *ngIf="loading">
                <span class="spinner"></span>
              </ng-container>
            </button>
        </form>
    </div>
    
      
  
    <div class="social-box">
      <!-- Social api bağlanacak -->
    </div>
  </div>