<div class="filter-box">

    <!-- =====================
          RATING FILTER
    ====================== -->
  
  
    <div class="custom-select">
      <label class="filter-title">Filtrele</label>

      <button
        type="button"
        class="select-btn"
        [class.selected]="selectedRating !== null"
        (click)="custom = !custom; $event.stopPropagation()">
  
        {{ filterLabel  }}
          <span *ngIf="selectedRating" for="">
          <i  class="fa-solid fa-star" style="color:#fbbf24; margin-left: 5px;">
          </i > {{ selectedRating}}</span> 

  
      </button>
  
  
      <ul
        class="select-menu"
        [class.open]="custom"
        (click)="$event.stopPropagation()">
  
        <li
          *ngFor="let item of ratingOptions"
          (click)="item.stats>0 && selectRating(item)"
          [class.selected]="selectedRating === item.rating"
          [class.disabled]="item.stats === 0">
  
          <span class="left">
            <span class="radio"></span>
            {{ item.label  }} ({{ item.stats }})
          </span>
  
          <span class="right">
            <i class="fa-solid fa-star"></i>
            {{ item.rating }}
          </span>
  
        </li>
  
      </ul>
    </div>
  
  
  
    <!-- =====================
          SORT
    ====================== -->
  
  
    <div class="custom-select">
      <label class="filter-title">Sırala</label>

      <button
        type="button"
        class="select-btn"
        [class.selected]="sortLabel !== 'Sıralama seç'"
        (click)="sortOption = !sortOption; $event.stopPropagation()">
  
        {{ sortLabel }}
  
      </button>
  
  
      <ul
        class="select-menu"
        [class.open]="sortOption"
        (click)="$event.stopPropagation()">
  
        <li
          *ngFor="let item of sortOptions"
          (click)="selectSortRating(item)"
          [class.selected]="sortLabel === item.label"
          >
  
          <span class="left">
            <span class="radio"></span>
            {{ item.label }} 
          </span>
         
  
        </li>
  
      </ul>
  
    </div>
  
  </div>
  