<div class="review-layout">

  <!-- SOL CARD -->
  <div class="card left">

    <div class="skeleton img"></div>

    <div class="skeleton title"></div>

    <div class="skeleton stars"></div>

    <div class="rating-bars">
      <div class="skeleton bar" *ngFor="let i of [1,2,3,4,5]"></div>
    </div>

    <div class="skeleton btn"></div>
    <div class="skeleton btn outline"></div>

  </div>


  <!-- SAĞ CARD -->
  <div class="card right">

    <div class="skeleton header"></div>

    <div class="skeleton filter"></div>

    <div class="review-item" *ngFor="let i of [1,2,3,4]">

      <div class="skeleton avatar"></div>

      <div class="review-content">
        <div class="skeleton name"></div>
        <div class="skeleton small-stars"></div>

        <div class="skeleton line w100"></div>
        <div class="skeleton line w80"></div>
      </div>

    </div>

  </div>

</div>
