

<div class="overlay" *ngIf="open" >
  <div class="modal" (click)="$event.stopPropagation()">

    <ng-container *ngIf="!formMode">

      <div class="modal-header">
        <span class="modal-title">Adreslerim</span>
        <div class="modal-actions">
          <button class="add-btn" (click)="openCreate()">+ Yeni adres</button>
          <button class="close-btn" (click)="closeModal.emit()">✕</button>
        </div>
      </div>
    
      <div class="modal-body">
        <ng-container *ngIf="address().length === 0 && !loading">
          <div class="none-address-message" >Sipariş oluşturmak için adres ekleyiniz.</div>
        </ng-container>
        
        <!-- Eğer adresler yükleniyorsa skeleton göster -->
        <ng-container *ngIf="loading; else addressList">
          <div *ngFor="let skeleton of [1,2]" class="card">
            <div class="address-content">
              <div class="card-top">
                <div class="address-badge shimmer" style="width: 60px; height: 14px;"></div>
                <div class="spacer"></div>
                <div class="action-btns">
                  <div class="icon-btn shimmer" style="width: 30px; height: 30px;"></div>
                  <div class="icon-btn shimmer" style="width: 30px; height: 30px;"></div>
                </div>
              </div>
              <div class="address-name shimmer" style="width: 120px; height: 14px; margin-bottom: 6px;"></div>
              <div class="address-text shimmer" style="width: 100%; height: 40px;"></div>
            </div>
            <div class="card-footer">
              <div class="default-badge shimmer" style="width: 50px; height: 12px;"></div>
              <div class="set-default-btn shimmer" style="width: 60px; height: 12px;"></div>
              <div class="phone-text shimmer" style="width: 80px; height: 12px;"></div>
            </div>
          </div>
        </ng-container> 
        
        <!-- Adres listesi -->
        <ng-template #addressList>
          <div class="card default" [class.default]="item?.is_default" *ngFor="let item of address()">
            <div class="address-content">
              <div class="card-top">
                <div class="address-badge">

                  <svg *ngIf="item.address_type === 'Ev'" viewBox="0 0 24 24"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
                  <svg *ngIf="item.address_type === 'Diğer'" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="10" r="3"/><path d="M12 2a8 8 0 010 16c-4 0-8-6-8-8a8 8 0 018-8z"/></svg>
                  <svg *ngIf="item.address_type === 'İş yeri'" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2"/><path d="M16 21V5a2 2 0 00-2-2h-4a2 2 0 00-2 2v16"/></svg>
                 
                  {{item.address_type}}
                </div>
                <div class="spacer"></div>
                <div class="action-btns">
                  <button class="icon-btn" (click)="openEdit(item)">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                  <button class="icon-btn delete" (click)="confirmDelete(item.id)">
                    <i class="fa-regular fa-trash-can"></i>
                  </button>
                </div>
              </div>
              <div class="address-name">{{item.full_name}}</div>
              <div class="address-text">{{item.address_line}}<br>{{item.state}} / {{item.city}} {{item.postal_code}}</div>
            </div>
            <div class="card-footer">
              <span class="default-badge" *ngIf="item.is_default">Varsayılan</span>
              <button class="set-default-btn" [class.hidden]="item.is_default" (click)="makeDefault(item)">
                Varsayılan yap
              </button>
              <span class="phone-text">{{item.phone_number}}</span>
            </div>
          </div>
        </ng-template>
    
      </div>
    </ng-container>


  <ng-container *ngIf="formMode">
    <div class="modal-header">
      <button class="back-btn" (click)="formModeChange.emit(null)">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <span class="modal-title">
        {{ formMode === 'create' ? 'Yeni adres ekle' : 'Adresi düzenle' }}
      </span>
      <button class="close-btn" (click)="closeModal.emit()">✕</button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Ad soyad</label>
          <input  [class.empty]="full_name?.invalid && full_name?.touched"
           type="text" placeholder="Ad soyad"
            formControlName="full_name">
            <span class="error" *ngIf="full_name?.invalid && full_name?.touched">
              <span *ngIf="full_name?.errors?.['required']">Ad soyad zorunlu.</span>
              <span *ngIf="full_name?.errors?.['minlength']">En az 4 karakter olmalı.</span>
            </span>
        </div>
        
        <div class="form-group">
          <label>Telefon</label>
          <input  [class.empty]="phone_number?.invalid && phone_number?.touched"
          type="text" 
          mask="(000) 000 00 00"
          placeholder="(___) ___ __ __"
          formControlName="phone_number">
          <span class="error" *ngIf="phone_number?.invalid && phone_number?.touched">
            <span *ngIf="phone_number?.errors?.['required']">Telefon numarası zorunlu.</span>
            <span *ngIf="phone_number?.errors?.['pattern']">Telefon numarası geçerli değil.</span>
          </span>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>İl</label>
            <ng-select
              [class.empty]="city_id?.invalid && city_id?.touched"
              [items]="provinces"
              bindLabel="name"
              bindValue="id"
              placeholder="İl seçin"
          
              (change)="onProvinceSelect($event)"
              formControlName="city_id"
              appendTo="div">
            </ng-select>
            <span class="select-error" *ngIf="city_id?.invalid && city_id?.touched">
              <span *ngIf="city_id?.errors?.['required']">İl seçimi zorunlu.</span>
              <span *ngIf="city_id?.errors?.['min']">İl seçimi zorunlu.</span>

            </span>
          </div>
        
          <div class="form-group">
            <label>İlçe</label>
            <ng-select
              [class.empty]="state_id?.invalid"
              [items]="districts"
              bindLabel="name"
              bindValue="id"
              placeholder="İlçe seçin"
              formControlName="state_id"
              (change)="onDistrictSelect($event)"
              appendTo="div">
            </ng-select>
            <span class="select-error" *ngIf="state_id?.invalid">
              <span *ngIf="state_id?.errors?.['required']">İlçe seçimi zorunlu.</span>

              <span *ngIf="state_id?.errors?.['min']">İlçe seçimi zorunlu.</span>
            </span>
          </div>

        </div>
         
        <div class="form-group">
          <label>Adres Tipi</label>
          <div class="addr-type-group">
            <label class="addr-type-label">
              <input type="radio" value="Ev" formControlName="address_type">
              <div class="addr-card">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
                <span>Ev</span>
              </div>
            </label>
        
            <label class="addr-type-label">
              <input type="radio" value="İş yeri" formControlName="address_type">
              <div class="addr-card">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2"/><path d="M16 21V5a2 2 0 00-2-2h-4a2 2 0 00-2 2v16"/></svg>
                <span>İş Yeri</span>
              </div>
            </label>
        
            <label class="addr-type-label">
              <input type="radio" value="Diğer" formControlName="address_type">
              <div class="addr-card">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="10" r="3"/><path d="M12 2a8 8 0 010 16c-4 0-8-6-8-8a8 8 0 018-8z"/></svg>
                <span>Diğer</span>
              </div>
            </label>
          </div>
        </div>
        
        <div class="form-group text-area">
          <label>Açık adres</label>
          <textarea [class.empty]="address_line?.invalid && address_line?.touched"

          placeholder="Mahalle, sokak, no..."
          formControlName="address_line"
          rows="3"></textarea>
          <span class="error" *ngIf="address_line?.invalid && address_line?.touched">
            <span *ngIf="address_line?.errors?.['required']">Açık adres zorunlu.</span>
            <span *ngIf="address_line?.errors?.['minlength']">En az 10 karakter giriniz.</span>
          </span>
        </div>
       
        
        <button type="submit" class="submit-btn" >
          {{ formMode === 'create' ? 'Kaydet' : 'Güncelle' }}
          
        </button>
      </form>
    </div>
  </ng-container>



  </div>
</div>

<app-delete-confirm [isOpen]="showDeleteConfirm" [message]="confirmMessage" (confirm)="onDeleteConfirm()" (cancel)="onDeleteCancel()"></app-delete-confirm>