<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&text=package_2,rate_reviews,home_pin,account_circle" />
<div class="container dashboard-container">
    <aside class="left">
      <div class="user-info-title">
        <div class="user-meta">
          <span class="name">Yunus&#64;gmail.com</span>
          <span class="welcome">Yunus Emre Sener</span>

        </div>
      </div>
  
      <nav class="left-routes">
        <a href="#">
          <span class="material-symbols-outlined">package_2</span> Siparişlerim
        </a>
        <a href="#">
            <span class="material-symbols-outlined">
                reviews
                </span> Değerlendirmelerim
        </a>
        <a href="#">
          <span class="material-symbols-outlined">home_pin</span> Adreslerim
        </a>
        <a href="#">
          <span class="material-symbols-outlined">account_circle</span> Kullanıcı Bilgilerim
        </a>
      </nav>
    </aside>
  
    <main class="right">
      <h2>Dashboard İçerik Alanı</h2>
      <p>Buraya seçilen sayfanın içeriği gelecek...</p>
    </main>
  </div>