<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&text=package_2,rate_reviews,home_pin,account_circle,shopping_bag,credit_card,unfold_more" />
<div class="container dashboard-container" [class.is-child-page]="!isMainDashboard">
    <aside class="left">
      <div class="user-info-title">
        <div class="user-meta">
          <span class="name">Yunus&#64;gmail.com</span>
          <span class="welcome">Yunus Emre Sener</span>

        </div>
      </div>
  
      <nav class="left-routes">
        <div class="each-section">
          <a routerLink="siparislerim" routerLinkActive="active">
            <span class="material-symbols-outlined">package_2</span> Siparişlerim
          </a>

          <span  class="material-symbols-outlined chevron">
            chevron_right
            </span>
        </div>
        <div class="each-section">
          <a href="#">
            <span class="material-symbols-outlined ">
                reviews
                </span> Değerlendirmelerim
          </a>
        <span class="material-symbols-outlined chevron ">
          chevron_right
          </span>
        </div>
        <div class="each-section">
          <a routerLink="adreslerim" routerLinkActive="active">
            <span class="material-symbols-outlined">home_pin</span> Adreslerim
          </a>
          <span class="material-symbols-outlined chevron">
            chevron_right
            </span>
        </div>
        <div class="each-section">
          <a href="#">
            <span class="material-symbols-outlined">account_circle</span> Kullanıcı Bilgilerim
          </a>
          <span class="material-symbols-outlined chevron">
            chevron_right
            </span>
        </div>
       
       
       
        
      </nav>
    </aside>
  
    <main class="right">
      
      <router-outlet></router-outlet>
      
    </main>
  </div>

