<div class="custom-select" (click)="sortOption = !sortOption; $event.stopPropagation()">
          
    <button
      type="button"
      class="select-btn"
      [class.selected]="sortLabel !== 'Sıralama Seç'"
      >

     <span>{{sortLabel}}</span>
     <i class="fa-solid fa-up-down" style="color: gray;"></i>
    </button>


    <ul
      class="select-menu"
      [class.open]="sortOption"
      (click)="$event.stopPropagation()"
      >
      <div class="menu-header">
        <span class="menu-title">SIRALA</span>
        <button class="menu-close" (click)="sortOption=false">&times;</button>
      </div>

      <li *ngFor="let item of sortOptions" 
      (click)="selectSort(item)"
      [class.selected]="sortLabel === item.label"

      >
        <span class="left" >
          <span class="radio"></span>
            {{item.label}}
        </span>
      </li>


    </ul>

</div>