
<div class="container">
    <div class="logo-box">
        <img src="assets/images/favLast.png" alt="Logo">
      </div>
  
    <div class="form-btn-container">
        <label class="create-label">Hesabınızı oluşturun</label>
        <div class="otp-box">
            <span class="user-email">{{email}} adresine gönderilen doğrulama kodunu girin.</span>
        </div>

        <div class="form-box">
          <app-error-box (closed)="closed.emit()" [message]="message" [title]="title"></app-error-box>


        <!-- Login Form -->
        <form [formGroup]="otpForm" (ngSubmit)="onSubmit()" class="form active">
            <input [class.empty]="otp?.invalid && otp?.touched" 
            formControlName="otp"  
            type="text" placeholder="Kodu gir">
            <span class="error" *ngIf="otp?.invalid && otp?.touched">
              <span *ngIf="otp?.errors?.['required']">Kod alanı zorunlu</span>
              <span *ngIf="otp?.errors?.['minlength']">Kod 6 haneli</span>
            </span>
            <button type="submit" [disabled]="loading">
              <ng-container *ngIf="!loading">Devam et</ng-container>
              <ng-container *ngIf="loading">
                <span class="spinner"></span>
              </ng-container>
            </button>
        </form>
        
        <label class="forgot" (click)="resendOtp()"
        [class.disabled]="resendTimer>0"
        >  {{ resendTimer > 0 ? 'Tekrar gönder (' + resendTimer + 's)' : 'Kodu tekrar gönder' }}
      </label>


    </div>
    
      
  
    <div class="social-box">
      <!-- Social api bağlanacak -->
    </div>
  </div>