<app-step1-email
[componentTitle]="'Şifre yenileme'"
[passwordReset]="true"
[loading]="loading" [message]="errorMessage"
(closed)="errorMessage = ''"
(submitEmail)="sendOtp($event)" 
*ngIf="step==='emailOtp'"
></app-step1-email>


<app-step2-verify-code
[email]="email"
[loading]="loading"
(resentOtpEvent)="resendOtp()"
[message]="errorMessage"
[componentTitle]="'Hesabınızı oluşturun'"
(closed)="errorMessage = ''"

*ngIf="step==='verifyOtp'"
(submitOtp)="verifyOtp($event)">

</app-step2-verify-code>


<app-step3-reset-pass
[loading]="loading"
[message]="errorMessage"
(closed)="errorMessage = ''"
*ngIf="step==='createNewPass'"

(resetPass)="createNewPass($event)"

>

</app-step3-reset-pass>