<!-- address-list.component.html -->
<ng-container *ngIf="loading; else addressList">
    <div *ngFor="let skeleton of [1,2]" class="card">
        <div class="address-content">
          <div class="card-top">
            <div class="address-badge shimmer" style="width: 60px; height: 14px;"></div>
            <div class="spacer"></div>
            <div class="action-btns">
              <div class="icon-btn shimmer" style="width: 30px; height: 30px;"></div>
              <div class="icon-btn shimmer" style="width: 30px; height: 30px;"></div>
            </div>
          </div>
          <div class="address-name shimmer" style="width: 120px; height: 14px; margin-bottom: 6px;"></div>
          <div class="address-text shimmer" style="width: 100%; height: 40px;"></div>
        </div>
        <div class="card-footer">
          <div class="default-badge shimmer" style="width: 50px; height: 12px;"></div>
          <div class="set-default-btn shimmer" style="width: 60px; height: 12px;"></div>
          <div class="phone-text shimmer" style="width: 80px; height: 12px;"></div>
        </div>
      </div>
  </ng-container>
  
  <ng-template #addressList>
    <ng-container *ngIf="(addresses === null || addresses.length === 0) && !loading">
      <div class="none-address-message">Henüz adres eklenmemiş.</div>
    </ng-container>
  
    <div class="card" [class.default]="item.is_default" *ngFor="let item of addresses">
      <div class="address-content">
        <div class="card-top">
          <div class="address-badge">
            <!-- svg + type -->
            <svg *ngIf="item.address_type === 'Ev'" viewBox="0 0 24 24"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
            <svg *ngIf="item.address_type === 'Diğer'" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="10" r="3"/><path d="M12 2a8 8 0 010 16c-4 0-8-6-8-8a8 8 0 018-8z"/></svg>
            <svg *ngIf="item.address_type === 'İş yeri'" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><rect x="2" y="7" width="20" height="14" rx="2"/><path d="M16 21V5a2 2 0 00-2-2h-4a2 2 0 00-2 2v16"/></svg>
           
            {{ item.address_type }}
          </div>
          <div class="spacer"></div>
          <div class="action-btns">
            <button class="icon-btn" (click)="edit.emit(item)">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button class="icon-btn delete" (click)="delete.emit(item.id)">
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </div>
        <div class="address-name">{{ item.full_name }}</div>
        <div class="address-text">
          {{ item.address_line }}<br>{{ item.state }} / {{ item.city }} {{ item.postal_code }}
        </div>
      </div>
      <div class="card-footer">
        <span class="default-badge" *ngIf="item.is_default">Varsayılan</span>
        <button class="set-default-btn" [class.hidden]="item.is_default" (click)="makeDefault.emit(item.id)">
          Varsayılan yap
        </button>
        <span class="phone-text">{{ item.phone_number }}</span>
      </div>
    </div>
  </ng-template>