<!--
<div class="container">
  <div class="slider main-slider">
    <div class="slider-track">
      <div *ngFor="let slide of slides; let i = index" class="slide" [class.active]="isActive(i)">
        <img [src]="slide.img" [alt]="slide.title">
      </div>
    </div>

    <div class="slider-arrows">
      <div class="arrow prev" (click)="prevSlide()">&#10094;</div>
      <div class="arrow next" (click)="nextSlide()">&#10095;</div>
    </div>

    <div class="slider-controls">
      <span
        *ngFor="let slide of slides; let i = index" 
        class="slider-dot" 
        [class.active]="isActive(i)" >
      </span>
    </div>
  </div>
</div>
-->



<!--
<div class="category-features">
  <div class="category-images-box">
    <img class="category-image" src="assets/images/categorybanner6.jpg" alt="">

    <img class="category-image" src="assets/images/categorybanner4.jpg" alt="">

    <img class="category-image" src="assets/images/categorybanner5.jpg" alt="">

  </div>
</div>-->
<!--
<div class="best-container">
  <label class="best-label">Sizin İçin Seçtiklerimiz</label>

  <app-slider [slider]="bestSellerSlider" [itemWidth]="245">

    <app-card
      *ngFor="let item of bestSellerSlider.items"
      [item]="item">
    </app-card>

  </app-slider>
</div>
-->


<!--- 
<div class="best-container">
  <label class="best-label">Sizin İçin Seçtiklerimiz</label>

  <app-slider [slider]="forYouSlider" [itemWidth]="242">

    <div class="best-item" *ngFor="let item of forYouSlider.items">
      <div class="image-box">
        <img [src]="item.img" alt="">
      </div>

      <label class="item-title">{{ item.title }}</label>

      <div class="item-rating">
        <i class="fa-solid fa-star" style="color:rgb(255, 223, 40);"></i>
        {{ item.avg }} <span>({{ item.commentCount }})</span>
      </div>

      <div class="item-bottom">
        <span class="item-price">
          {{ item.price }}<label style="font-size: 10px;">TL</label>
        </span>
        <button class="add-cart">
          <i class="fa-solid fa-cart-plus"></i>
        </button>
      </div>
    </div>

  </app-slider>
</div>
-->

<!--
<div class="best-container">
  <label class="best-label">Sizin İçin Seçtiklerimiz</label>

  <app-slider [slider]="forYouSlider" [itemWidth]="245">

    <app-card
      *ngFor="let item of forYouSlider.items"
      [item]="item">
    </app-card>

  </app-slider>
</div>
-->

<ng-container *ngFor="let section of layout">

  <app-category-section
    *ngIf="section.type === 'banner'"
    [lazy]="true"
    [id]="section.id"
    [sort]="section.sort"
    >
  </app-category-section>

  <app-banner-section
    *ngIf="section.type === 'banner_campaign'"
    [lazy]="true"
    [id]="section.id"
    [sort]="section.sort"
    >
  </app-banner-section>

  <app-main-section
    *ngIf="section.type === 'main_slider'"
    [lazy]="true"
    [id]="section.id"
    [sort]="section.sort"
    >
  </app-main-section>

  <app-product-section
    *ngIf="section.type === 'hero'"
    [lazy]="true"
    [id]="section.id">
  </app-product-section>

</ng-container>




<div style="
    max-width:1200px;
    margin:0 auto;
    padding:20px;
    font-family:'Inter', sans-serif;
    line-height:1.6;
">

  <h1>GurmePet Online Pet Shop | Premium Kedi ve Köpek Mamaları</h1>
  <p>
    Kedi, köpek, kuş ve kemirgen dostlarımız için en sağlıklı ve doğal alternatifleri bir araya getiren 
    <strong>GurmePet</strong>, evcil hayvanlarınızın tüm ihtiyaçlarını üstün bir hizmetle karşılar. 
    Yalnızca güvenilir bir e-ticaret platformu olmakla kalmaz; aynı zamanda hayvanseverlerin 
    fikir alışverişinde bulunduğu, patili dostlarımızın en iyi ve taze gıdalarla beslenmesini 
    amaçlayan bir topluluktur.
  </p>

  <h3>Minik Dostlarımız İçin En Gurme Seçenekler GurmePet'te!</h3>
  <p>
    Evcil hayvanınızın sağlıklı gelişimi için ihtiyaç duyduğu tüm ürünleri bir arada bulmak 
    istiyorsanız, <strong>GurmePet</strong> sizin için en doğru adres! Seçkin markaların yetkili 
    satıcısı olan ve ürünlerin son kullanma tarihi gibi kritik stok bilgilerini her zaman 
    şeffaf bir şekilde sunan GurmePet, taze ve %100 orijinal ürün garantisi ile hizmet veriyor.
  </p>

  <h3>Premium Pet Shop Ürünlerine GurmePet Fırsatlarıyla Ulaşın</h3>
  <p>
    <strong>GurmePet</strong>, yıl boyunca düzenlediği kampanyalarla hem minik gurmeleri 
    hem de bütçenizi sevindiriyor. Özel içerikli kısırlaştırılmış kedi mamalarından tahılsız 
    köpek mamalarına, kaliteli kuş aksesuarlarından kemirgen ürünlerine kadar birçok sağlıklı 
    alternatif indirimli fiyatlarla sizi bekliyor.
  </p>


</div>



