    <div class="page"*ngIf="order">
    
      <!-- Header -->
      <div class="page-header" >
        <button class="back-btn" (click)="backBtn()">
          <span class="material-symbols-outlined">arrow_back</span>
          Siparişlerim
        </button>
        <div class="header-info">
          <span class="order-number">#{{order.id}}</span>
          <span class="order-meta">{{order.ordered_at}} · {{order.order_items_count}} ürün</span>
        </div>
        <span class="status-badge" [ngClass]="order.status">
          <span class="status-dot"></span> 
          {{ order.status === 'cancelled' ? 'İptal Edildi' : order.status }}
        </span>
        </div>
        <div class="card alert-cancelled" *ngIf="order.status === 'cancelled'">
          <div class="alert-icon">
            <span class="material-symbols-outlined">error</span>
          </div>
          <div class="alert-content">
            <div class="alert-title">Siparişiniz İptal Edilmiştir</div>
            <div class="alert-desc">
              Bu sipariş iptal edilmiştir ve ödeme iadeniz başlatılmıştır. 
              Tutarın kartınıza yansıması bankanıza bağlı olarak <b>1-7 iş günü</b> sürebilir.
            </div>
          </div>
        </div>


        <div class="card alert-refund" *ngIf="order.refund_request_count>0 ">
          <div class="alert-icon">
            <span class="material-symbols-outlined">error</span>
          </div>
          <div class="alert-content">
            <div class="alert-title" (click)="directRefunds()" style="cursor:pointer;text-decoration: underline;">{{order.refund_request_count}} iade isteğiniz mevcut.</div>
            <div class="alert-desc">

            </div>
          </div>
        </div>


      <!-- Timeline -->
      <div class="card" *ngIf="order.status !== 'cancelled'">
        <div class="card-title">Kargo Durumu</div>

        <div class="timeline" *ngIf="order.cargo_details.length === 0">
          <div class="progress-line" style="width: 15%;"></div>

          <div class="step active">
            <div class="step-circle"><span class="material-symbols-outlined">check</span></div>
            <span class="step-label">Sipariş Alındı</span>
            <span class="step-date">{{order.ordered_at}}</span>
          </div>
          <div class="step" >
            <div class="step-circle"><span class="material-symbols-outlined">local_shipping</span></div>
            <span class="step-label">Kargoya Verildi</span>
            <span class="step-date">—</span>
          </div>
          <div class="step"  >
            <div class="step-circle"><span class="material-symbols-outlined">home</span></div>
            <span class="step-label">Teslim Edildi</span>
            <span class="step-date">—</span>
          </div>
        </div>

        <div class="cargo-group" *ngFor="let cargo of order.cargo_details">
          
          <!-- Hangi ürünler bu kargoda -->
          <div class="cargo-products">
            <div class="cargo-item" *ngFor="let item of cargo.items">
              <img [src]="item.image" class="product-thumb" />
              <span class="item-quantity">{{item.quantity}}</span>
            </div>

            <div class="cargo-info-header">
              <span class="cargo-badge">{{cargo.cargo_company}}</span>
              <span class="divider">•</span>
              <span class="tracking-number">{{cargo.tracking_code}}</span>
            </div>
          </div>
      
          
          <div class="timeline">
            <div class="progress-line"[style.width.%]="getCargoProgress(cargo.status)"></div>

            <div class="step active">
              <div class="step-circle"><span class="material-symbols-outlined">check</span></div>
              <span class="step-label">Sipariş Alındı</span>
              <span class="step-date">{{order.ordered_at}}</span>
            </div>
            <div class="step" [class.active]="cargo.status !== 'preparing'">
              <div class="step-circle"><span class="material-symbols-outlined">local_shipping</span></div>
              <span class="step-label">Kargoya Verildi</span>
              <span class="step-date">{{cargo.shipped_at ?? '—'}}</span>
            </div>
            <div class="step" [class.active]="cargo.status === 'delivered'">
              <div class="step-circle"><span class="material-symbols-outlined">home</span></div>
              <span class="step-label">Teslim Edildi</span>
              <span class="step-date">{{cargo.delivered_at ?? '—'}}</span>
            </div>
          </div>
      
        </div>


      </div>


     
      
    
      <!-- Products -->
      <div class="card">
        <div class="card-title">Ürünler</div>
        <div class="product-list">
    
          <div class="product-row" *ngFor="let item of order.order_items">
            <div class="product-img"><img src="{{item.image}}" alt=""></div>
            <div class="product-info">
              <div class="product-name">{{item.name}}</div>
              <div class="product-variant"> Adet: {{item.quantity}}</div>
            </div>
            <span class="product-price">{{item.total }} TL</span>
          </div>
    

    
        </div>
      </div>
    
      <!-- Two col -->
      <div class="two-col">
    
        <div class="card">
          <div class="card-title">Teslimat & Ödeme</div>
    
          <div class="info-row">
            <div class="info-icon"><span class="material-symbols-outlined">location_on</span></div>
            <div>
              <div class="info-label">Teslimat Adresi</div>
              <div class="info-value">{{address.full_name}}<br>{{address.address_line}}2<br>{{address.city}} / {{address.state}}</div>
            </div>
          </div>
    
          <div class="info-row">
            <div class="info-icon"><span class="material-symbols-outlined">credit_card</span></div>
            <div>
              <div class="info-label">Ödeme Yöntemi</div>
              <div class="info-value"> •••• {{order.last_four}}<br> {{order.installment>1 ?  order.installment+' Taksit' : 'Tek çekim'}} </div>
            </div>
          </div>
        </div>
    
        <div class="card">
          <div class="card-title">Sipariş Özeti</div>
    
          <div class="summary-row">
            <span class="summary-label">Ara Toplam</span>
            <span class="summary-value">{{order.subTotal}} TL</span>
          </div>

          <div class="summary-row" *ngIf="order.installment>1">
            <span class="summary-label">Taksit tutarı</span>
            <span class="summary-value">{{order.installment_fee}} TL</span>
          </div>

          <div class="summary-row">
            <span class="summary-label">Kargo</span>
            <span class="summary-value discount">{{order.cargo_fee>0 ? order.cargo_fee : 'Ücretsiz'}}</span>
          </div>
         
          <div class="summary-row" *ngIf="order.discount_total>0">
            <span class="summary-label">İndirim</span>
            <span class="summary-value discount">-{{order.discount_total}} TL</span>
          </div>
          <div class="summary-row total">
            <span class="summary-label">Toplam</span>
            <span class="summary-value">{{order.total}} TL </span>
          </div>
    
          <!-- shipped → sadece iptal butonu -->
          <div class="btn-row">
            <button (click)="showCancelConfirm=true" class="btn btn-cancel" *ngIf="order.status ==='pending' ">Siparişi İptal Et</button>
            <button (click)="navigateRefund()" class="btn btn-refund" *ngIf="order.status ==='completed' && !order.fully_refunded ">Ürünleri iade et</button>

          </div>
        </div>
    
      </div>


      <div *ngIf="order.refund_request_count>0" class="card-title refund-box" (click)="refundDetail = !refundDetail">
        İade Talebİ Detayları
        <span class="material-symbols-outlined transition-icon" [class.rotated]="refundDetail">
          unfold_more
        </span>
      </div>
      
       
      <div class="refund-section" *ngIf="refundDetail">
        <div class="card refund-inner-card" *ngFor="let refund of order?.refund_request">
          
          <div class="refund-items-mini">
            <div class="mini-item" *ngFor="let item of refund?.items">
              <img [src]="item.image" class="mini-img">
              
              <div class="mini-info">
                <span class="amount title">
                  Talep Edilen: {{ item.quantity }} Adet ({{ item.amount }} TL)
                </span>
                
                <div class="refund-badges" *ngIf="refund.status === 'completed' || refund.status === 'partial'">
                  
                  <span class="badge badge-success" *ngIf="item.approved_quantity > 0">
                    <span class="material-symbols-outlined">check_circle</span>
                    {{ item.approved_quantity }} 
                  </span>
                  
                  <span class="badge badge-danger" *ngIf="item.rejected_quantity > 0">
                    <span class="material-symbols-outlined">cancel</span>
                    {{ item.rejected_quantity }} 
                  </span>
      
                </div>
              </div>
            </div>
           
          </div>
          <div class="refund-admin-note" *ngIf="refund.admin_note">
            <div class="note-header">
              <span class="material-symbols-outlined">info</span>
              <strong>Mağaza Notu:</strong>
            </div>
            <p>{{ refund.admin_note }}</p>
          </div>
      
          <div class="timeline refund-timeline">
            <div class="progress-line" [style.width.%]="getCargoProgress(refund.status)"></div>
            
            <div class="step active">
              <div class="step-circle"><span class="material-symbols-outlined">description</span></div>
              <span class="step-label">Talep Alındı</span>
              <span class="step-date">{{ refund.created_at }}</span> 
            </div>
      
            <div class="step" [class.active]="refund.status === 'shipped' || refund.status === 'received' ||refund.status === 'rejected'||
             refund.status === 'completed' || refund.status === 'partial'">
              <div class="step-circle"><span class="material-symbols-outlined">local_shipping</span></div>
              <span class="step-label">İade Kargoda</span>
              <span class="step-date">{{ refund.shipped_at || 'Bekleniyor' }}</span>
            </div>

            <div class="step" [class.active]="refund.status === 'received' ||  refund.status === 'rejected'||
            refund.status === 'completed' || refund.status === 'partial'">
              <div class="step-circle"><span class="material-symbols-outlined">hourglass_check</span></div>
              <span class="step-label">İade Teslim Alındı</span>
              <span class="step-date">{{ refund.shipped_at || 'Bekleniyor' }}</span>
            </div>
      
            <div class="step" *ngIf="refund.status !== 'partial' && refund.status !== 'rejected'" [class.active]="refund.status === 'completed'">
              <div class="step-circle"><span class="material-symbols-outlined">done_all</span></div>
              <span class="step-label">İade Onaylandı</span>
              <span class="step-date">{{ refund.received_at || '—' }}</span>
            </div>
      
            <div class="step" *ngIf="refund.status === 'partial'" [class.active]="refund.status === 'partial'">
              <div class="step-circle"><span class="material-symbols-outlined">rule</span></div>
              <span class="step-label">Kısmen Onaylandı</span>
              <span class="step-date">{{ refund.received_at || '—' }}</span>
            </div>
            <div class="step" *ngIf="refund.status === 'rejected'" [class.active]="refund.status === 'rejected'">
              <div class="step-circle"><span class="material-symbols-outlined">cancel</span></div>
              <span class="step-label">İade reddedildi.</span>
              <span class="step-date">{{ refund.received_at || '—' }}
              </span>
            </div>
          </div>

         
      
          <div class="refund-footer">
            <div class="footer-row">
              <strong>İade Kargo Firması:</strong> 
              <span>{{ refund.cargo_company ?? 'Yurtiçi Kargo (Anlaşmalı)' }}</span>
            </div>
            <div class="footer-row">
              <strong>İade Kargo Kodu: {{refund.cargo_tracking_code ?? '1-3 iş günü içerisinde belirlenecektir.'}} </strong> 
              <span class="highlight-code"></span>
            </div>
            <div class="footer-row" *ngIf="refund.reason">
              <strong>İade Sebebi:</strong> 
              <span>{{ refund.reason }}</span>
            </div>
          </div>

          
        </div>
        <div class="refund-total-box" *ngIf="order.refund_sum_amount">
          <span class="total-label">İade Edilen Toplam:</span>
          <span class="total-amount">{{ order.refund_sum_amount }} TL</span>
        </div>
      </div>

      
    </div>





    <app-main-toast *ngIf="toastMessage"
    [type]="status"
    [message]="toastMessage"
    (closed)="toastMessage=''"
    ></app-main-toast>
    
    <app-delete-confirm [isOpen]="showCancelConfirm" [message]="confirmMessage"
    (confirm)="cancelOrder()" (cancel)="showCancelConfirm=false"></app-delete-confirm>

    <app-fullpage-loader *ngIf="loading"></app-fullpage-loader>


    