<div class="container">

    <div class="box">
      
      <!-- Filtre Alanı -->
      <aside class="filter" [class.open]="mobileFilter" >
        <div class="filter-category">
            <label class="filter-title" (click)="categoryOpen=!categoryOpen">Kategoriler
              <i class="fa-solid" style="font-size: 12px;" [ngClass]="{'fa-caret-down': !categoryOpen, 'fa-caret-up': categoryOpen}"></i>

            </label>
   
        
            <!-- Children -->
            <div class="category-child-wrapper" [class.open]="categoryOpen">
              <div *ngIf="activeCategory?.slug">
                <app-category-node [node]="category_tree" [activeSlug]="activeCategory.slug"
                [defaultOpen]="true"></app-category-node>
              </div>
            </div>
        </div>



  

  
        <div class="filter-price">
            <label class="filter-title" (click)="priceOpen=!priceOpen">Fiyat Aralığı
                <i class="fa-solid" style="font-size: 12px;" [ngClass]="{'fa-caret-down': !priceOpen, 'fa-caret-up': priceOpen}"></i>
            </label>

            <div class="category-child-wrapper" [class.open]="priceOpen">

                <div class="price-section">
                    <div class="apply-price-box" *ngIf="active_min == null && active_max == null">
          
                      <input  placeholder="En az" [(ngModel)]="min_price">
                      <input  placeholder="En fazla" [(ngModel)]="max_price">
                      <button (click)="applyPrices()" class="apply-price"
                      [disabled]="min_price == null && max_price == null"
                      ><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                    <div class="applied-price" *ngIf="active_min || active_max">
                      <div class="applied-box">
                        <span class="price-range">
                          <span *ngIf="active_min">{{ active_min }} ₺</span>
                          <span *ngIf="active_min && active_max"> - </span>
                          <span *ngIf="active_max">{{ active_max }} ₺ </span>
                        </span>
                        <button class="remove-price" (click)="removePrice()">×</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
 
  
      </aside>


      <div 
      class="filter-overlay"
      *ngIf="mobileFilter"
      (click)="mobileFilter = !mobileFilter">
      </div>


      
      <!-- Ürün Alanı -->
      <section class="adverts">
        <button 
        class="mobile-filter-btn"
        (click)="mobileFilter = !mobileFilter">
        Filtrele
      </button>
          <div class="breadcrumb">
            <div class="bread-skeleton-wrapper"
             [class.hide]="!breadSkeleton">

              <div class="bread-skeleton shimmer"></div>
              <div class="bread-separator shimmer"></div>
          
              <div class="bread-skeleton shimmer small"></div>
              <div class="bread-separator shimmer"></div>
          
              <div class="bread-skeleton shimmer smaller"></div>
          
            </div>

            <div class="bread-box"  [class.hide]="breadSkeleton" *ngFor="let item of breadcrumb; let last = last">
              <span>{{ item?.name }}</span>
              <i class="fas fa-chevron-right" *ngIf="!last"></i>
            </div>
          </div>
  
        <div class="total-count">
          <div class="total-label">

            <!-- Skeleton -->
            <div class="label-skeleton shimmer" [class.hide]="!breadSkeleton"></div>
          
            <!-- Gerçek içerik -->
            <div class="label-content" [class.hide]="breadSkeleton">
              {{activeCategory?.name}}
              <span class="product-count">
                {{meta?.total ?? oldMeta?.total}} ürün
              </span>
            </div>
          
          </div>

            <app-category-filter 
            
              (filterChange)="onFilterChange($event)"
              [filters]="currentFilters"
              >
            </app-category-filter>
        </div>
        
        <div *ngIf="minPageLoaded>1" class="loadPrevious">
          <button (click)="loadPrevious()" class="load-btn">
            Daha fazla yükle
          </button>
        </div>




        <div class="">
            <ng-container *ngFor="let page of pages">
              <div class="products"
                  [attr.data-page]="page.page"
                  #pageBlock>

                <app-card 
                  *ngFor="let item of page.items"
                  [skeleton]="isLoading"
                  [item]="item">
                </app-card>

              </div>
            </ng-container>
        </div>
        <div style="height: 1px;" #scrollAnchor></div>

        
        <div class="empty-state" *ngIf="!isLoading && adverts?.length === 0">
          <div class="empty-icon">
            🐾
          </div>
        
          <h3>Ürün Bulunamadı</h3>
        
          <p>
            Seçtiğiniz filtrelere uygun ürün bulunamadı.
            Filtreleri temizleyerek tekrar deneyebilirsiniz.
          </p>
        
          <button (click)="removePrice()" class="reset-btn">
            Filtreleri Temizle
          </button>
        </div>
      </section>
  
    </div>
  
  </div>
  