<div class="container">

    <div class="box">
      
      <!-- Filtre Alanı -->
      <aside class="filter" [class.open]="mobileFilter" >

        <app-filter [activeCategory]="activeCategory" 
        [category_tree]="category_tree"
        (applyPrice)="onPriceChange($event)"
        [priceFilter]="{ min: min_price, max: max_price }"

        ></app-filter>
 
  
      </aside>


      <div 
      class="filter-overlay"
      [class.open]="mobileFilter"
      (click)="mobileFilter = false">
      </div>


      
      <!-- Ürün Alanı -->
      <section class="adverts">
        
          <div class="breadcrumb">
            <div class="bread-skeleton-wrapper"
             [class.hide]="!breadSkeleton">

              <div class="bread-skeleton shimmer"></div>
              <div class="bread-separator shimmer"></div>
          
              <div class="bread-skeleton shimmer small"></div>
              <div class="bread-separator shimmer"></div>
          
              <div class="bread-skeleton shimmer smaller"></div>
          
            </div>

            <div class="bread-box"  [class.hide]="breadSkeleton" *ngFor="let item of breadcrumb; let last = last">
              <span>{{ item?.name }}</span>
              <i class="fas fa-chevron-right" *ngIf="!last"></i>
            </div>
          </div>
  
        <div class="total-count">
          <div class="total-label">

            <!-- Skeleton -->
            <div class="label-skeleton shimmer" [class.hide]="!breadSkeleton"></div>
          
            <!-- Gerçek içerik -->
            <div class="label-content" [class.hide]="breadSkeleton">
              {{activeCategory?.name}}
              <span class="product-count">
                {{meta?.total ?? oldMeta?.total}} ürün
              </span>
            </div>
         <label class="mobile-count"  [class.hide]="breadSkeleton">

          {{meta?.total ?? oldMeta?.total}} 
          <span style="font-weight: 300;">ürün gösteriliyor</span>
          
        </label>
          </div>  
        
 

          <div class="" style="display: flex; align-items: center; gap: 2px;">

            <button class="mobile-filter-btn" 
            [class.active]="min_price || max_price"
              (click)="mobileFilter = !mobileFilter">
              <i class="fa-solid fa-filter"  ></i>
            </button>

            <app-category-filter 
              (filterChange)="onFilterChange($event)"
              [filters]="currentFilters"
            >
          </app-category-filter>

          </div>


        </div>
        
        <div *ngIf="minPageLoaded>1" class="loadPrevious">
          <button (click)="loadPrevious()" class="load-btn">
            Daha fazla yükle
          </button>
        </div>




        <div class="">
            <ng-container *ngFor="let page of pages">
              <div class="products"
                  [attr.data-page]="page.page"
                  #pageBlock>

                <app-card 
                  *ngFor="let item of page.items"
                  [skeleton]="isLoading"
                  [item]="item">
                </app-card>

              </div>
            </ng-container>
        </div>
        <div style="height: 1px;" #scrollAnchor></div>

        
        <div class="empty-state" *ngIf="!isLoading && adverts?.length === 0">
          <div class="empty-icon">
            🐾
          </div>
        
          <h3>Ürün Bulunamadı</h3>
        
          <p>
            Seçtiğiniz filtrelere uygun ürün bulunamadı.
            Filtreleri temizleyerek tekrar deneyebilirsiniz.
          </p>
        
          <button (click)="removePrice($event)" class="reset-btn">
            Filtreleri Temizle
          </button>
        </div>
      </section>
  
    </div>
  
  </div>
  