<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="full-page-404">
  <div class="content-wrapper">
    <!-- Dev 404 ve Pati -->
    <div class="giant-404">
      <span>4</span>
      <div class="bouncing-paw">
        <span class="material-symbols-outlined">pets</span>
      </div>
      <span>4</span>
    </div>

    <!-- Metin Alanı -->
    <h1 class="title-404">Eyvah! Sayfa Kayıplara Karıştı</h1>
    <p class="desc-404">
      Görünüşe göre yaramaz bir dostumuz aradığınız sayfanın kablosunu kemirmiş veya bu sayfa başka bir yere taşınmış. Endişelenmeyin, ana sayfada her şey yolunda!
    </p>

    <!-- Aksiyon Butonları -->
    <div class="action-buttons">
      <a href="" class="btn-primary">
        <span class="material-symbols-outlined">home</span>
        Ana Sayfaya Dön
      </a>
      <a routerLink="/cart" class="btn-secondary">
        <span class="material-symbols-outlined">shopping_bag</span>
        Alışverişe Devam Et
      </a>
    </div>

    <!-- Alt Destek Bilgisi -->
    <div class="support-link">
      Hata olduğunu mu düşünüyorsunuz? <a routerLink="/yardim/destek">Bize bildirin.</a>
    </div>
  </div>
</div>