    <div class="filter-category">
        <label class="filter-title" (click)="categoryOpen=!categoryOpen">Kategoriler
        <i class="fa-solid" style="font-size: 12px;" [ngClass]="{'fa-caret-down': !categoryOpen, 'fa-caret-up': categoryOpen}"></i>

        </label>


        <!-- Children -->
        <div class="category-child-wrapper" [class.open]="categoryOpen">
        <div *ngIf="activeCategory?.slug">
            <app-category-node [node]="category_tree" [activeSlug]="activeCategory.slug"
            [defaultOpen]="true"></app-category-node>
        </div>
        </div>
    </div>






    <div class="filter-price">
        <label class="filter-title" (click)="priceOpen=!priceOpen">Fiyat Aralığı
            <i class="fa-solid" style="font-size: 12px;" [ngClass]="{'fa-caret-down': !priceOpen, 'fa-caret-up': priceOpen}"></i>
        </label>

        <div class="category-child-wrapper" [class.open]="priceOpen">

            <div class="price-section">
                <div class="apply-price-box"*ngIf="priceFilter?.min == null && priceFilter?.max == null">
    
                <input type="number" placeholder="En az" [(ngModel)]="draftMin">
                <input type="number" placeholder="En fazla" [(ngModel)]="draftMax">
                <button (click)="applyPrices()" class="apply-price"
                [disabled]="draftMin == null && draftMax == null"
                ><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div class="applied-price" *ngIf="priceFilter?.min || priceFilter?.max">
                <div class="applied-box">
                    <span class="price-range">
                        <span *ngIf="priceFilter?.min != null">{{ priceFilter?.min }} ₺</span>
                        <span *ngIf="priceFilter?.min != null && priceFilter?.max != null"> - </span>
                        <span *ngIf="priceFilter?.max != null">{{ priceFilter?.max }} ₺</span>
                    </span>
                    <button class="remove-price" (click)="removePrice()">×</button>
                </div>
                </div>
            </div>
        </div>
    </div>