.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 50px;
  }
  
  /* Slider Base */
  .slider {
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    background: #f4f4f4;
    width: 100%;
    aspect-ratio: 3.7 / 1;
  }
  
  /* Slider Track & Slides */
  .slider-track {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .slide {
    min-width: 100%; 
  }


  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* taşmadan görünüm */
    display: block;
    transition: transform 0.4s ease;
  }
  
  .slide img:hover {
    transform: scale(1.03);
  }



  .slider-skeleton {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    
  }
  
  /* shimmer efekt */
  .slider-skeleton::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.6) 50%,
      rgba(255,255,255,0) 100%
    );
    animation: shimmer 1.3s infinite;
  }


  .hidden {
    display: none;
  }


  @media(max-width:992px){
    .slider {
      aspect-ratio: 3.2 / 1;
      max-width: 100%;
    }
    .slide img{
      width:100%;
      aspect-ratio: 3.2 / 1;

    }
  }

  @media(max-width:600px){
    .slider {
      aspect-ratio: 1.7 / 1;
      max-width: 100%;
    }
    .slide img{
      width:100%;
      aspect-ratio: 1.7 / 1;

    }
  }