<div class="category-item">

    <!-- LABEL -->
    <div
      class="category-label"
      (click)="open = !open"
    >
    <a class="category-label"  [class.active]="node?.slug === activeSlug" [routerLink]="['/', node?.slug]">
      {{ node?.name }} 
    </a>
     
  
      <i
        *ngIf="node?.children?.length"
        class="fa-solid"
        style="font-size:12px"
        [ngClass]="{
          'fa-caret-down': !open,
          'fa-caret-up': open
        }">
      </i>
    </div>
  
  
    <!-- CHILDREN -->
    <div
      class="category-children"
      [class.open]="open && node?.children?.length"
    >
      <div class="children-inner">
  
        <app-category-node
          *ngFor="let child of node?.children"
          [node]="child"
          [activeSlug]="activeSlug"
          >
        </app-category-node>
  
      </div>
    </div>
  
  </div>
  