<div class="container">
  <div class="slider main-slider">
    <div class="slider-track">
      <div *ngFor="let slide of slides; let i = index" class="slide" [class.active]="isActive(i)">
        <img [src]="slide.img" [alt]="slide.title">
      </div>
    </div>

    <div class="slider-arrows">
      <div class="arrow prev" (click)="prevSlide()">&#10094;</div>
      <div class="arrow next" (click)="nextSlide()">&#10095;</div>
    </div>

    <div class="slider-controls">
      <span
        *ngFor="let slide of slides; let i = index" 
        class="slider-dot" 
        [class.active]="isActive(i)" >
      </span>
    </div>
  </div>
</div>


<div class="category-container">
  <label class="category-label">Kategorilerdeki İndirimleri Keşfet</label>

  <div class="slider-box">

    <button class="category-arrow  left" (click)="prev(categorySlider)" [class.hidden]="categorySlider.index ===0">‹</button>

    <div class="slider-window">
      <div class="slider-track" [style.transform]="getTransform(categorySlider)">
        <div class="category-item" *ngFor="let c of categorySlider.items ">
          <div class="item-inner">
            <img [src]="c.img" alt="">
          </div>
          <p class="item-title">{{c.title}}</p>
        </div>
      </div>
    </div>

    <button class="category-arrow right" (click)="next(categorySlider)" [class.hidden]="categorySlider.index === MaxIndex(categorySlider)">
      ›
    </button>

  </div> 

</div>

<div class="category-features">
  <div class="category-images-box">
    <img class="category-image" src="assets/images/categorybanner6.jpg" alt="">

    <img class="category-image" src="assets/images/categorybanner4.jpg" alt="">

    <img class="category-image" src="assets/images/categorybanner5.jpg" alt="">

  </div>
</div>

<div class="best-container">
  <label class="best-label">Sizin İçin Seçtiklerimiz</label>

  <app-slider [slider]="bestSellerSlider" [itemWidth]="245">

    <app-card
      *ngFor="let item of bestSellerSlider.items"
      [item]="item">
    </app-card>

  </app-slider>
</div>



<!--- 
<div class="best-container">
  <label class="best-label">Sizin İçin Seçtiklerimiz</label>

  <app-slider [slider]="forYouSlider" [itemWidth]="242">

    <div class="best-item" *ngFor="let item of forYouSlider.items">
      <div class="image-box">
        <img [src]="item.img" alt="">
      </div>

      <label class="item-title">{{ item.title }}</label>

      <div class="item-rating">
        <i class="fa-solid fa-star" style="color:rgb(255, 223, 40);"></i>
        {{ item.avg }} <span>({{ item.commentCount }})</span>
      </div>

      <div class="item-bottom">
        <span class="item-price">
          {{ item.price }}<label style="font-size: 10px;">TL</label>
        </span>
        <button class="add-cart">
          <i class="fa-solid fa-cart-plus"></i>
        </button>
      </div>
    </div>

  </app-slider>
</div>
-->


<div class="best-container">
  <label class="best-label">Sizin İçin Seçtiklerimiz</label>

  <app-slider [slider]="forYouSlider" [itemWidth]="245">

    <app-card
      *ngFor="let item of forYouSlider.items"
      [item]="item">
    </app-card>

  </app-slider>
</div>





<div style="
    max-width:1200px;
    margin:0 auto;
    padding:20px;
    font-family:'Inter', sans-serif;
    line-height:1.6;
">

  <h2>Yunus Yem: Online Pet Shop ve Hayvanseverler Kulübü</h2>
  <p>
    Kedi, köpek, kuş ve kemirgen ürünleri gibi farklı kategorilerdeki binlerce alternatifle 
    evcil hayvanlarınızın tüm ihtiyaçlarını karşılayabileceğiniz 
    <strong>YunusYem.com</strong>, yalnızca güvenilir bir online pet shop değil; aynı zamanda 
    hayvanseverlerin fikir alışverişinde bulunduğu ve sahipsiz dostlarımızın sıcak yuva 
    bulmalarına yardımcı olan bir sosyal topluluktur.
  </p>

  <h3>Minik Dostlarımızın İhtiyacı Olan Her Şey YunusYem.com'da!</h3>
  <p>
    Evcil hayvanınızın ihtiyaç duyduğu tüm ürünleri bir arada bulmak istiyorsanız, 
    <strong>YunusYem.com</strong> sizin için en doğru adres! Tüm markaların yetkili satıcısı olan 
    ve ürünlerin son kullanma tarihi gibi kritik bilgileri şeffaf bir şekilde sunan 
    YunusYem.com, %100 orijinal ürün garantisi ile hizmet veriyor.
  </p>

  <h3>Pet Shop Ürünlerini İndirimli Fiyatlarla Yunus Yem'den Alın</h3>
  <p>
    <strong>YunusYem.com</strong>, yıl boyunca düzenlediği kampanyalarla hem dostlarınızı 
    hem bütçenizi sevindiriyor. Kısırlaştırılmış kedi mamalarından tahılsız köpek mamalarına, 
    kuş aksesuarlarından kemirgen ürünlerine kadar birçok ürün indirimli fiyatlarla sizi bekliyor.
  </p>



</div>





