<div class="container" *ngIf="advert">
    <div class="breadcrumb">
        <span><i class="fas fa-home"></i> Ana Sayfa</span>
        <i class="fas fa-chevron-right"></i>
        <span>Kedi Ürünleri</span>
        <i class="fas fa-chevron-right"></i>
        <span style="color: #3b82f6; font-weight: 600;">Kedi Maması</span>
    </div>

    <div class="product-content">
        <div class="product-image-section" *ngIf="itemSlider">
            <div class="product-image">
                <button *ngIf="itemSlider.items.length>1" (click)="prev()" class="image-button left">&#10094;</button>

            <div class="image-window"   (touchstart)="onTouchStart($event)"
            (touchend)="onTouchEnd($event)">
                <div
                class="image-track"
                [style.transform]="getTransform()"
                >
                <img
                    *ngFor="let item of itemSlider.items"
                    [src]="item.path"
                    alt=""
                />
                
                </div>
              
                <div class="image-counter">
                    {{itemSlider.index+1 }}/{{itemSlider.items.length}}
                </div>

            </div>

            <button *ngIf="itemSlider.items.length>1" (click)="next()" class="image-button right">&#10095;</button>

            </div>
       

            
            <div class="thumbs">
                <div
                  class="thumb"
                *ngFor="let item of itemSlider?.items; let i=index"
                [class.active]="i ===itemSlider?.index"
                (click)="itemSlider.index=i"
                >
                  <img [src]="item.path" alt="">
                </div>
            </div>
        </div>

        <div class="product-details">
            <label class="product-title">{{advert?.title}}</label>
            
            <div class="rating-section" *ngIf="advert.avg_rating">
                <span class="rating-text">{{advert?.avg_rating | number:'1.0-1'}}</span>
                
                
                <app-rating-stars *ngIf="advert.avg_rating" [rating]="advert.avg_rating"></app-rating-stars>


                
                <span class="review-count">{{advert?.total_comments}} Değerlendirme</span>
            </div>

            <div class="price-section">
                <div class="price">
                    {{advert?.item_ref?.price}}<label class="currency">TL</label>
                </div>
       
            </div>

            <div class="actions">
                <button class="add-to-cart">
                    <i class="fas fa-shopping-cart"></i>
                    Sepete Ekle
                </button>
            </div>
                <div class="delivery-badge">
    
                   
                    <span class="delivery-span"> <i class="fas fa-truck-fast"></i> 19 Aralık'ta Kargoda!</span>
                </div>
    

            <div class="description-section">
                <div class="description-title">
                    <i class="fas fa-info-circle"></i>
                    Ürün Açıklaması
                </div>
                <p class="description-text">
                    {{ advert?.description }} Kısırlaştırılmış kediler için özel olarak formüle edilmiş bu besleyici mama, kedinizin sağlıklı kalmasını ve ideal kilosunu korumasını sağlar. Dengeli protein ve enerji içeriği ile kedilerin beslenme ihtiyaçlarını karşılar.
                </p>

                <div class="features" >
                    <div class="feature-item"*ngFor="let item of advert?.item_ref?.features">
                        <i class="fas fa-check-circle"></i>
                        <span>{{item.label}}</span>
                    </div>
                 
                </div>

                
            </div>
        </div>
    </div>
</div>

<div class="price-section-mobile">
    <div class="price-mobile">
        {{advert?.item_ref?.price}} <label style="font-size: 10px;">TL</label>
    </div>
    <button style="width: 75%;" class="add-to-cart">
        <i class="fas fa-shopping-cart"></i>
        Sepete Ekle
    </button>
</div>





<app-product-review [advert]="advert" [reviews]="reviews" [stats]="stats" [meta]="meta">
    <label review-title  class="review-title">Kullanıcı Yorumları <label *ngIf="stats?.total" style="font-weight: 100;
        font-size: 18px;
        color: gray;">{{stats.total}}</label></label>
</app-product-review>


<app-product-section *ngIf="advert"
[title]="'Kategorinin  Öne Çıkan Ürünleri'"
[items]="popularAdverts"
>
</app-product-section>

<app-product-section *ngIf="advert"
[title]="'Önerilen Ürünler'"
[items]="recoAdverts"
>
</app-product-section>
<!--
<div class="reco-container">
  <label class="reco-label">Bu ürünleri de inceleyebilirsin</label>

  <app-slider [slider]="recommendationProducts" [itemWidth]="245">

    <app-card
      *ngFor="let item of recommendationProducts.items"
      [item]="item">
    </app-card>

  </app-slider>
</div>


<div class="reco-container">
    <label class="reco-label">Kategorinin sevilen ürünleri</label>
  
    <app-slider [slider]="categoryBests" [itemWidth]="245">
  
      <app-card
        *ngFor="let item of categoryBests.items"
        [item]="item">
      </app-card>
  
    </app-slider>
  </div>
  
  
-->

