<div class="container">
    <div class="breadcrumb"
        [class.loading]="!breadcrumb"
        >
            <ng-container *ngIf="breadcrumb; else breadSkeleton">

                <div class="bread-box">
                <span><i class="fas fa-home"></i> Ana Sayfa</span>
                <i class="fas fa-chevron-right"></i>
                </div>

                <div class="bread-box" *ngFor="let item of breadcrumb; let last = last">
                <span>{{ item?.name }}</span>
                <i class="fas fa-chevron-right" *ngIf="!last"></i>
                </div>

            </ng-container>

            <ng-template #breadSkeleton>
                <div class="bread-skeleton shimmer"></div>
            </ng-template>
    </div>


    <div class="product-content">
        
        
        <div class="product-image-section">

            <ng-container *ngIf="!advert; else realSlider">

                <div class="product-image shimmer"></div>

                <div class="thumbs">
                    <div class="thumb shimmer">
                    </div>
                    <div class="thumb shimmer" >
                    </div>
                    <div class="thumb shimmer" >
                    </div>
                </div>

            </ng-container>

            <ng-template #realSlider>
                <div class="product-image">
                    <button *ngIf="itemSlider.items.length>1" (click)="prev()" class="image-button left">&#10094;</button>

                <div class="image-window"   (touchstart)="onTouchStart($event)"
                (touchend)="onTouchEnd($event)">
                    <div
                    class="image-track"
                    [style.transform]="getTransform()"
                    >
                    <img
                        *ngFor="let item of itemSlider.items"
                        [src]="item.path"
                        alt=""
                    />
                    
                    </div>
                
                    <div class="image-counter">
                        {{itemSlider.index+1 }}/{{itemSlider.items.length}}
                    </div>

                </div>

                <button *ngIf="itemSlider.items.length>1" (click)="next()" class="image-button right">&#10095;</button>

                </div>
        

                
                <div class="thumbs">
                    <div
                    class="thumb"
                    *ngFor="let item of itemSlider?.items; let i=index"
                    [class.active]="i ===itemSlider?.index"
                    (click)="itemSlider.index=i"
                    >
                    <img [src]="item.path" alt="">
                    </div>
                </div>

            </ng-template>  
        </div>


        <div class="product-details">
            <label class="product-title">

                <span [class.hide]="advert?.title" class="title-skeleton shimmer"></span>
              
                <span [class.hide]="!advert?.title">
                  {{ advert?.title }}
                </span>
              
            
            </label>   
              
            <div class="rating-section">

                <!-- skeleton -->
                <div class="rating-skeleton" style="margin-top: 20px;"  [class.hide]="advert">
                  <span class="sk sk-text shimmer"></span>
                  <span class="sk sk-stars shimmer"></span>
                  <span class="sk sk-count shimmer"></span>
                </div>
              
                <!-- gerçek içerik -->
                <div class="rating-content"  *ngIf="advert?.avg_rating" [class.hide]="!advert">
              
                  <span class="rating-text">
                    {{ advert?.avg_rating ?? 0 | number:'1.0-1' }}
                  </span>
              
                  <app-rating-stars
                    [rating]="advert?.avg_rating ?? 0">
                  </app-rating-stars>
              
                  <span class="review-count">
                    {{ advert?.total_comments }} Değerlendirme
                  </span>
              
                </div>
              
            </div>


            <div class="price-section">

                <!-- skeleton -->
                <div class="price price-skeleton" [class.hide]="advert?.item_ref?.price">
                  <span class="sk sk-price shimmer"></span>
                </div>
              
                <!-- gerçek -->
                <div class="price" [class.hide]="!advert?.item_ref?.price">
                  {{ advert?.item_ref?.price }}
                  <label class="currency">TL</label>
                </div>
              
            </div>

            <div class="actions">

                <button
                class="add-to-cart"
                [class.loading]="!advert"
                [disabled]="!advert"
                >
                <i *ngIf="advert" class="fas fa-shopping-cart"></i>
                <span *ngIf="advert">Sepete Ekle</span>
                </button>
              
            </div>

            <div class="delivery-badge"
            [class.loading]="!advert"
            >
            <span class="delivery-span" *ngIf="advert">
              <i class="fas fa-truck-fast"></i>
              19 Aralık'ta Kargoda!
            </span>
            </div>
    

            <div class="description-section"
                [class.loading]="!advert"
                >

                <!-- title -->
                <div class="description-title">
                    <i *ngIf="advert" class="fas fa-info-circle"></i>
                    <span *ngIf="advert">Ürün Açıklaması</span>
                </div>

                <!-- text (element hep var, sadece içerik şartlı) -->
                <p class="description-text">
                    <ng-container *ngIf="advert">
                    {{ advert.description }} Kısırlaştırılmış kediler için özel olarak formüle edilmiş bu besleyici mama, kedinizin sağlıklı kalmasını ve ideal kilosunu korumasını sağlar. 
                    Dengeli protein ve enerji içeriği ile kedilerin beslenme ihtiyaçlarını karşılar.
                    </ng-container>
                </p>

                <!-- features (container hep var) -->
                <div class="features">

                    <!-- gerçek liste -->
                    <ng-container *ngIf="advert; else featureSkeleton">
                    <div
                        class="feature-item"
                        *ngFor="let item of advert.item_ref?.features"
                    >
                        <i class="fas fa-check-circle"></i>
                        <span>{{ item.label }}</span>
                    </div>
                    </ng-container>

                    <!-- loading -->
                    <ng-template #featureSkeleton>
                    <div class="feature-item sk shimmer"></div>
                    <div class="feature-item sk shimmer"></div>
                    <div class="feature-item sk shimmer"></div>
                    <div class="feature-item sk shimmer"></div>
                    </ng-template>

                </div>

            </div>



            
        </div>
    </div>
</div>

<div class="price-section-mobile">
    <div class="price-mobile">
        {{advert?.item_ref?.price}} <label style="font-size: 10px;">TL</label>
    </div>
    <button style="width: 75%;" class="add-to-cart">
        <i class="fas fa-shopping-cart"></i>
        Sepete Ekle
    </button>
</div>






<app-product-review
    [skeleton]="skeleton"
    [advert]="advert"
    [reviews]="reviews"
    [stats]="stats"
    [meta]="meta">
    <div review-title  class="review-box" *ngIf="advert">
        <label  class="review-title">Kullanıcı Yorumları <label style="font-weight: 100;
            font-size: 18px;
            color: gray;">({{advert.total_comments}})</label></label>
        </div>
    
</app-product-review>

<div #categoryAdverts>
        <app-product-slider
        [title]="'Kategorinin  Öne Çıkan Ürünleri'"
        [items]="popularAdverts"
        [skeleton]="sliderSkeleton"
        >
        </app-product-slider>  
</div>


<app-product-slider
[title]="'Önerilen Ürünler'"
[items]="recoAdverts"
[skeleton]="sliderSkeleton"
>
</app-product-slider>
<!--
<div class="reco-container">
  <label class="reco-label">Bu ürünleri de inceleyebilirsin</label>

  <app-slider [slider]="recommendationProducts" [itemWidth]="245">

    <app-card
      *ngFor="let item of recommendationProducts.items"
      [item]="item">
    </app-card>

  </app-slider>
</div>


<div class="reco-container">
    <label class="reco-label">Kategorinin sevilen ürünleri</label>
  
    <app-slider [slider]="categoryBests" [itemWidth]="245">
  
      <app-card
        *ngFor="let item of categoryBests.items"
        [item]="item">
      </app-card>
  
    </app-slider>
  </div>
  
  
-->

