<div class="widget-header">
    <div class="header-left-group">
      <button class="back-btn" >
        <span class="material-symbols-outlined">arrow_back_ios</span>
      </button>
      <h2 class="widget-title">Şifre değişikliği</h2>
    </div>
</div>



<div class="profile-settings-widget">
 
  
    <div class="settings-grid">
      <div class="settings-card">
        <div class="card-header">
          <p>Şifreniz en az 8 karakter olmalıdır. Güvenliğiniz için adınız, soyadınız ve doğum tarihinizi içermeyen bir şifre belirleyin.
        </p>
        </div>

        <form class="settings-form" [formGroup]="form">
          <div class="form-row">
            <div class="form-group">
                <div class="top-label">
                    <label>Mevcut şifre</label>

                    <span class="error" *ngIf="oldPassword?.invalid && oldPassword?.touched">
                        <span *ngIf="oldPassword?.errors?.['required']">( Mevcut şifre zorunlu )</span>
                      </span>
                </div>

                <div class="input-wrapper">
                    <input formControlName="oldPassword" 
                           [type]="showOldPassword ? 'text' : 'password'" 
                           placeholder="Mevcut şifre"
                           [class.empty]="oldPassword?.invalid && oldPassword?.touched">
                    <span class="material-symbols-outlined toggle-password" 
                          (click)="showOldPassword = !showOldPassword">
                        {{ showOldPassword ? 'visibility_off' : 'visibility' }}
                    </span>
                </div>
             
            </div>
            <div class="form-group">
                <div class="top-label">
                    <label>Yeni şifre</label>

                    <span class="error" *ngIf="newPassword?.invalid && newPassword?.touched">
                        <span *ngIf="newPassword?.errors?.['required']">( Yeni şifre zorunlu )</span>
                        <span *ngIf="newPassword?.errors?.['minlength']">( En az 8 karakter olmalı ) </span>
                      </span>
                </div>

                <div class="input-wrapper">
                    <input formControlName="newPassword" 
                           [type]="showNewPassword ? 'text' : 'password'" 
                           placeholder="Yeni şifre"
                           [class.empty]="newPassword?.invalid && newPassword?.touched">
                    <span class="material-symbols-outlined toggle-password" 
                          (click)="showNewPassword = !showNewPassword">
                        {{ showNewPassword ? 'visibility_off' : 'visibility' }}
                    </span>
                </div>


            </div>
          </div>
          <div class="form-actions">
            <button type="submit"
            [class.loading]="loading"
            [disabled]="form.invalid"
            class="save-btn" (click)="onSubmit()">Güncelle</button>
          </div>
        </form>
      </div>
  
     
    </div>
  </div>



  <app-main-toast *ngIf="message"
    [type]="status"
    [message]="message"
    (closed)="message=''"
    ></app-main-toast>
    

  
    <app-delete-confirm [isOpen]="showUpdateConfrim" [message]="'Diğer tüm oturumlar kapatılacaktır.'"
    [messageTitle]="'Şifrenizi değiştirmek üzeresiniz.'"
     (confirm)="changePassword()" (cancel)="showUpdateConfrim=false"
     [icon]="'update'"
     ></app-delete-confirm>
