<div class="category-container">
    <ng-container *ngIf="!skeleton; else labelSkeleton">
      <label class="category-label">{{title}}</label>
    </ng-container>

    <ng-template #labelSkeleton>
      <div class="category-label sk-label shimmer"></div>
    </ng-template>

  <app-slider [slider]="categorySlider">

    <div class="slider-box">
      <div class="slider-window">
        <div class="slider-track">

          <!-- REAL -->
            <div class="category-item" *ngFor="let c of categorySlider.items">
              <a style="text-decoration: none; color: black; font-weight: 500;" href="kategori/{{c.slug}}">
                <div class="item-inner">
                  <img [src]="c.image"
                  
                  alt="{{c.name}}">
                </div>
                <p class="item-title">{{c.name}}</p>
              </a>
            </div>

  

        </div>
      </div>
    </div>

  </app-slider>
</div>
